<div id="{{ carousel-item-right.id }}" class="item {% if carousel-item-right.default %}active{% endif %} item-type-right">
<div class="slide-visual" style="background-image: url('{{ carousel-item-right.pre-visual }}');">
    <img src="{{ carousel-item-right.visual }}" alt="Carouse item title">
  </div>
  <div class="slide-message">
    <h1 class="slide-heading">
      Default<br>phrase
      <span class="extra">
        With important<br>subtitle
      </span>
    </h1>
    <div class="slide-cta">
      <a href="/site-plans" class="button">Call to action</a>
    </div>
  </div>
</div>