<div id="{{ carousel-item-default.id }}" class="item {% if carousel-item-default.default %}active{% endif %} item-type-center">
  <div class="slide-visual">
    <a href="#">
      <img src="{{ carousel-item-default.visual }}" alt="Carouse item title">
    </a>
  </div>
</div>
