<a href="/dashboard-plans" class="js-modal-open box ratio-box ratio-2-3 m-ratio-3-4 {% if dashboard-planbox-activated.active %}active{% endif %}" data-target="{{ dashboard-planbox-activated.modal }}">
  <div class="box-background"></div>
  <div class="box-content plan-icon">
    <h2 class="plan-title">
      {{ dashboard-planbox-activated.name }}
    </h2>
    <p class="plan-subtitle">
      {{ dashboard-planbox-activated.subtitle }}
    </p>
    <div class="box-footer plan-cta-container">
      <p class="plan-benefits">
        {{ dashboard-planbox-activated.benefits }}
      </p>
      {% if dashboard-planbox-activated.active %}
        <div class="invisible-button">Текущий тариф</div>
      {% else %}
        <div href="#" class="button">Подключить</div>
      {% endif %}
    </div>
  </div>
</a>
<p class="gutter"><a class="iu-link js-modal-open" data-target="modal1" href="#">Условия подключения</a></p>
