<!-- GSM план с нулевым бонусным счетом и бонусными минутами/смс/трафиком -->
<a href="/dashboard-payment" class="box ratio-box ratio-8-9 l-ratio-2-3">
  <div class="box-background"></div>
  <div class="box-content box-redeem box-icon-payment">
    <h2 class="account-balance split">
      <span class="split-title">1 235</span>
      <span class="account-balance-note">тенге на счете</span>
    </h2>

    <div class="box-footer plan-cta-container">
      <div class="gutter-trailer">
        <h2>Бонусы</h2>
        <div class="counter-group">
          <div class="d1-3 counter">
            49
            <span class="counter-title"><span class="icon-time">Мин.</span></span>
            <div class="counter-note">до xx.xx.xxxx</div>
          </div><div class="d1-3 counter">
          240
          <span class="counter-title"><span class="icon-message">СМС</span></span>
          <div class="counter-note">до xx.xx.xxxx</div>
        </div><div class="d1-3 counter">
        2 048
        <span class="counter-title"><span class="icon-wifi">Мб</span></span>
        <div class="counter-note">до xx.xx.xxxx</div>
      </div>
    </div>
  </div>
  <div class="button">Пополнить счет</div>
</div>
</div>
</a>
<div class="account-additional-info no-leader">
  <p class="split no-trailer">
    <strong class="split-title">Последнее списание</strong>
    8.12.2013
  </p>
  <p class="split no-trailer">
    <strong class="split-title">Следующее списание</strong>
    8.1.2014
  </p>
</div>