<!-- LTE план -->
<a href="/dashboard-payment" class="box ratio-box ratio-8-9 l-ratio-2-3 s-ratio-1">
  <div class="box-background"></div>
  <div class="box-content box-redeem box-icon-payment">
    <h2 class="account-balance split">
      <span class="split-title">1 235</span>
      <span class="account-balance-note">тенге на счете</span>
    </h2>

    <div class="box-footer plan-cta-container">
        <div class="counter-group">
          <div class="d1 counter">
          2 048 из 10 000
          <span class="counter-title"><span class="icon-wifi">Мб</span></span>
        <div class="counter-note">израсходовано</div>
    </div>
  </div>
  <div class="button">Пополнить счет</div>
</div>
</div>
</a>
<div class="account-additional-info no-leader">
  <p class="split no-trailer">
    <strong class="split-title">Последнее списание</strong>
    8.12.2013
  </p>
  <p class="split no-trailer">
    <strong class="split-title">Следующее списание</strong>
    8.1.2014
  </p>
</div>