<div class="d1 gutter">
  <div class="d2-6 middle">
    <h1><a href="/personal-settings" class="icon-edit">Kathryn Sims</a></h1>
  </div><div class="d4-6 middle">
    <nav class="navigation">
      <ul class="navigation nav-level-0">
        <li class="d1-4 middle">
          <a href="/dashboard" class="nav-button {% if mixture.url != "new-number" %}active{% endif %}"><span class="icon-phone">708 1344515</span></a>
        </li><li class="d1-4 middle">
          <a href="#" class="nav-button"><span class="icon-lte">708 1344515</span></a>
        </li><li class="d1-4 middle">
          <a href="/new-number" class="nav-button {% if mixture.url == "new-number" %}active{% endif %}">
            Добавить номер
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% if mixture.url != "dashboard" %}
  <div class="d1 gutter back-button-container">
    <a href="/dashboard" class="back-button"><span class="icon-back">Назад</span></a>
  </div>
{% endif %}