<a href="/dashboard-plans" class="box ratio-box ratio-2-3">
  <div class="box-background"></div>
  <div class="box-content plan-icon">
    <h2 class="plan-title">
      {{ dashboard-planbox.name }}
    </h2>
    <p class="plan-subtitle">
      {{ dashboard-planbox.subtitle }}
    </p>
    <div class="box-footer plan-cta-container">
      <p class="plan-benefits">
        {{ dashboard-planbox.benefits }}
      </p>
      <div href="#" class="button">Сменить тариф</div>
    </div>
  </div>
</a>