<footer>

<nav class="nav-container">
  <div class="navigation nav-level-2 text-center">

    <div class="fpb-list">
      <ul class="nav-button inline-list">
        <li><a href="/site-about" class="nav-link">О компании</a></li>
        <li><a href="/site-news" class="nav-link">Новости</a></li>
        <li><a href="/site-press" class="nav-link">Пресс-центр</a></li>
        <li><a href="/business-partners" class="nav-link">Партнерам</a></li>
        <li><a href="/site-licenses" class="nav-link">Лицензии</a></li>
        <li><a href="/site-buying" class="nav-link">Закупки</a></li>
        <li><a href="/site-vacancies" class="nav-link">Вакансии</a></li>
        <li><a href="/site-contacts" class="nav-link">Контакты</a></li>
        <li><a href="/site-search" class="nav-link">Поиск</a></li>
      </ul>
    </div>

    <div class="d1-4 m1">
      <a href="/" class="logotype">
        <img class="logotype-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Altel">
      </a>
      <ul class="nav-button inline-list">
        <li><a href="http://instagram.com/altel4g" class="nav-link"><span class="icon-instagram"></span></a></li>
        <li><a href="https://twitter.com/ALTEL4G" class="nav-link"><span class="icon-twitter"></span></a></li>
        <li><a href="https://www.facebook.com/ALTEL4G" class="nav-link"><span class="icon-facebook"></span></a></li>
        <li><a href="https://vk.com/altel4g" class="nav-link"><span class="icon-vkontakte"></span></a></li>
      </ul>
    </div>

    <ul class="nav-button inline-list">
      <li><a href="http://v3na.com/about/"><span class="icon-madeby"></span></a></li>
    </ul>

  </div>
</nav>

</footer>
