<ul class="pagination">
  <li><a class="pagination-link unavailable" href="">Previous</a></li>
  <li class="active"><a class="pagination-link active" href="">1</a></li>
  <li><a class="pagination-link" href="">2</a></li>
  <li><a class="pagination-link" href="">3</a></li>
  <li><a class="pagination-link" href="">4</a></li>
  <li><a class="pagination-link unavailable" href="">&hellip;</a></li>
  <li><a class="pagination-link" href="">12</a></li>
  <li><a class="pagination-link" href="">13</a></li>
  <li><a class="pagination-link" href="">Next</a></li>
</ul>