<a href="{{ planbox.url }}" class="box ratio-box ratio-2-3 m-ratio-3-4">
  <div class="box-background"></div>
  <div class="box-content plan-icon-gsm">
    <h2 class="plan-title">
      {{ planbox.name }}
    </h2>
    <p class="plan-subtitle">
      {{ planbox.subtitle }}
    </p>
    <div class="box-footer plan-cta-container">
      <p class="plan-benefits">
        {{ planbox.benefits }}
      </p>
      <div href="#" class="button">Подробнее</div>
    </div>
  </div>
</a>