<div class="featureHeader">
  <h2 class="plan-title">НА СВЯЗИ</h2>
</div>
<div class="feature">
  <figure class="feature-cover" style="background-image: url({{ 'plans/epic/plan-11.jpg' | asset_url }})"></figure>
  <div class="feature-description">
    <div class="feature-transition--top"></div>
    <div class="feature-filler"></div>
    <div class="feature-transition--bottom"></div>
  </div>
</div>
<div class="featureInfo">
  <p>БЕЗ АБОНЕНТСКОЙ ПЛАТЫ и с включенным бонусным пакетом</p>
</div>

<!--
<div class="epic-plan-visual-container">
  <div class="epic-plan-visual" style="background-image: url(/bitrix/templates/altel/public/images/plans/epic/plan-11.jpg);">
    <div class="epic-plan-visual-hover" style="background-image: url(/bitrix/templates/altel/public/images/plans/epic/plan-11-hover.jpg);"></div>

    <div class="planbox-icon plan-icon-gsm">
      <h2 class="plan-title">НА СВЯЗИ</h2>
      <p class="plan-subtitle"></p>
      <div class="box-footer plan-benefits">
        <div class="readable">
          <p>БЕЗ АБОНЕНТСКОЙ ПЛАТЫ и с включенным бонусным пакетом</p>
        </div>
      </div>
    </div>

  </div>
</div> -->
