<div class="box">
  <div class="box-content">
    <article class="post-preview">
      <header class="post-header">
        <h2>{{ site-news-post-preview.title }}</h2>
        <section class="post-meta">
          {{ site-news-post-preview.date }}
        </section>
      </header>
      <section class="post-excerpt">
        {{ site-news-post-preview.preview }}
      </section>
      <section class="readmore">
        <a class="button" href="{{ site-news-post-preview.url }}">Read more</a>
      </section>
      <footer class="post-links">
        <div class="d1-3 m1">
          <a class="icon-twitter fluffy" href="#">Share on Twitter</a>
        </div><div class="d1-3 m1">
          <a class="icon-facebook fluffy" href="#">Share on Facebook</a>
        </div><div class="d1-3 m1">
          <a class="icon-vkontakte fluffy" href="#">Share on Vkontakte</a>
        </div>
      </footer>
    </article>
  </div>
</div>
