<div id="support-modal" class="modal">
  <div class="container text-center">
    <div class="d1-3 l2-3">
      <div class="box">
        <div class="box-content">
          <h2 class="plan-title">
            Поддержка
          </h2>
          <ul class="acc-list">
            <li>
              <a href="/dashboard-faq" class="acc-list-item">Часто задаваемые вопросы (FAQ)</a>
            </li>
            <li>
              <a href="/dashboard-where-to-buy" class="acc-list-item">Где купить?</a>
            </li>
            <li>
              <a href="/dashboard-contacts" class="acc-list-item">Контакты</a>
            </li>
            <li>
              <a href="#" class="acc-list-item">Онлайн-консультант</a>
            </li>
          </ul>
          <div class="box-footer plan-cta-container">
            <a href="#" class="u-link js-modal-close">Закрыть</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>