.back-button-container
  border-top: 1px solid $secondary-text-color
  padding-top: ($baseline - 1px)
  padding-bottom: $small-line
.back-button
  display: inline-block
  @extend %large-text
  padding: $baseline
  color: $secondary-text-color
  &:hover
    color: $normal-text-color
