%box-icon
  background-position: 50% 50%
  background-repeat: no-repeat
  @include background-size(auto 40%)
  @include bp-medium
    @include background-size(auto 50%)
    background-position: 100% 100%

@mixin box-icon($icon)
  .#{$icon}
    @extend %box-icon
    @include background-image("icons/#{$icon}")
    &:after,
    .box:hover &
      @include background-image("icons/#{$icon}-hover")
    &:after
      content: ""

@include box-icon('box-icon-feedback')

@include box-icon('box-icon-dashboard')
@include box-icon('box-icon-dashboard-payment-history')
@include box-icon('box-icon-dashboard-consumption')
@include box-icon('box-icon-dashboard-bonus')

@include box-icon('box-icon-payment')
@include box-icon('box-icon-payment-pos')
@include box-icon('box-icon-payment-portal')
@include box-icon('box-icon-payment-express')
@include box-icon('box-icon-payment-atm')


@include box-icon('box-icon-business-devices')
@include box-icon('box-icon-business-informer')
@include box-icon('box-icon-business-internet')
@include box-icon('box-icon-business-plans')
@include box-icon('box-icon-business-services')
@include box-icon('box-icon-business-special')

@include box-icon('box-icon-site-internet')
@include box-icon('box-icon-site-migration')
@include box-icon('box-icon-site-plans')
@include box-icon('box-icon-site-roaming')

@include box-icon('box-icon-sup-centres')
@include box-icon('box-icon-sup-consultant')
@include box-icon('box-icon-sup-coverage')

@include box-icon('box-icon-html')
@include box-icon('box-icon-xls')
@include box-icon('box-icon-pdf')

@include box-icon('box-icon-star')
@include box-icon('box-icon-tick')
@include box-icon('box-icon-handshake')
@include box-icon('box-icon-docs')

.plan-icon-gsm,
.plan-icon-lte
  background-position: 50% 30%
  @include background-size(auto 20%)
  @include bp-small
    @include background-size(auto 30%)

.plan-icon-gsm
  @extend .box-icon-site-plans

.plan-icon-lte
  @extend .box-icon-site-internet
