.sticky-footer footer
  @extend %animation-hack
  position: relative
  color: $secondary-text-color
  // remember the border!
  height: 93px
  .logotype-image
    @include background-image("logotype")
