[class^="icon-"]
  &:before
    content: ""
    height: calculateRem(18px)
    width: calculateRem(18px)
    display: inline-block
    vertical-align: text-bottom
    background-position: 50% 50%
    background-repeat: no-repeat
    margin-right: calculateRem(6px)

.icon-map:before
  @include background-image("icons/icon-map")
.icon-support:before
  @include background-image("icons/icon-support")
.icon-search:before
  @include background-image("icons/icon-search")