%icon
  &:before
    content: ""
    height: 18px
    width: 18px
    height: calculateRem(18px)
    width: calculateRem(18px)
    display: inline-block
    vertical-align: text-bottom
    background-position: 50% 50%
    background-repeat: no-repeat
    margin-right: calculateRem(6px)

.icon-dashboard-help
  @include background-image('icons/button-icon-support')
  background-position: $gutter 50%
  background-repeat: no-repeat
.dashboard-help
  padding-left: $gutter + 18px

.icon-special
  @extend %icon
  &:before
    @include background-image("icons/icon-special")
.icon-support
  @extend %icon
  &:before
    @include background-image("icons/icon-support")
.icon-search
  @extend %icon
  &:before
    @include background-image("icons/icon-search")
.icon-phone
  white-space: nowrap
  @extend %icon
  &:before
    @include background-image("icons/icon-phone")
.icon-time
  @extend %icon
  &:before
    @include background-image("icons/icon-time")
.icon-message
  @extend %icon
  &:before
    @include background-image("icons/icon-message")
.icon-wifi
  @extend %icon
  &:before
    @include background-image("icons/icon-wifi")
