
.nav-container
  padding: 0 .5rem

.navigation
  list-style-type: none
  >li
    margin: 0

.nav-level-2
  @extend %c-caption
  margin-bottom: 1rem

.nav-level-2 .nav-col
  display: none
  @media only screen and (min-width: #{($break-3)/16*1em})
    display: inline-block

.nav-col.d-nav
  display: inline-block
  @media only screen and (min-width: #{($break-1)/16*1em})
    display: inline-block

.nav-col.d-nav--invert
  display: inline-block
  @media only screen and (min-width: #{($break-3)/16*1em})
    display: none

.nav-col
  vertical-align: middle

.nav-level-1
  @extend %c-caption
  @extend %c-upper
  display: none
  width: 100%
  margin-bottom: 1rem
  overflow: hidden
  background-color: $box-background
  border-radius: $r
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.2)
  .nav-col
    position: relative
    text-align: center
    &.active:before
      @extend %abs
      top: -2rem
      bottom: -2rem
      display: block
      background-color: $accent
      content: ''
  .nav-button
    position: relative
    display: block
    height: 100%
    padding: 1rem 0
    line-height: 1.5rem
    &:hover
      color: $accent

  @media only screen and (min-width: #{($break-3)/16*1em})
    display: block

.active .nav-button, .active .nav-button:hover
  color: white

.nav-link
  position: relative
  display: inline-block
  &:hover
    color: $accent
    text-decoration: underline

.side-nav-container
  padding: 0 1rem
  margin: 0
  display: none
  @media only screen and (min-width: #{($break-3)/16*1em})
    display: inline-block

.side-navigation
  list-style-type: none
  >li
    margin: 0

.mobile-side-navigation
  padding: 1rem 1rem 0
  @media only screen and (min-width: #{($break-3)/16*1em})
    display: none

.side-navigation-meta
  display: block
  padding: .5rem .5rem 0

.side-navigation-item
  display: block
  line-height: 1.5rem
  margin-bottom: 1rem
