*, *:before, *:after
  @include box-sizing(border-box)

@import "mixins"
@import "vars"
@import "grid"
@import "type"
@import "form"

html,
body
  height: 100%

body
  color: $normal-text-color
  background-color: $bg-color
  border-top: 3px solid $accent-color
  cursor: default

.sticky-wrap
  min-height: 100%
  margin-bottom: -78px
  margin-bottom: -1*calculateRem(78px)
  &:after
    content: ""
    display: block
.sticky-wrap:after,
.sticky-footer
  height: 78px
  height: calculateRem(78px)

.sticky-footer
  border-bottom: 3px solid $accent-color

%animation-hack
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  @include backface-visibility(hidden)
  @include transform(translateZ(0))