{% block content %}
  {% include "dashboard-navigation" %}

  <div class="d1 gutter">
    <h2 class="page-title">
      <span class="middle">У Вас</span>
      <div class="plan-price">1 235,34</div>
      <span class="middle">на счете. Выберите необходимые дополнительные услуги:</span>
    </h2>
  </div>

  <div class="d1-4">
    <a href="#" class="box active ratio-4-3">
      <div class="box-background"></div>
      <div class="box-content">
        <div class="plan-title plan-service">
            Уведомления по e-mail
        </div>
        <div class="plan-subtitle">
          Price information
        </div>
        <div class="box-footer plan-cta-container">
          Услуга подключена
        </div>
      </div>
    </a>
    <p class="gutter small-text"><a href="#">Отключить услугу</a></p>
  </div><div class="d1-4">
    <a href="#" class="box ratio-4-3">
      <div class="box-background"></div>
      <div class="box-content">
        <div class="plan-title plan-service">
            Ежемесячная детализация вызовов по e-mail
        </div>
        <div class="plan-subtitle">
          Price information
        </div>
        <div class="box-footer plan-cta-container">
          <div href="#" class="button">Подключить</div>
        </div>
      </div>
    </a>
    <p class="gutter small-text"></p>
  </div><div class="d1-4">
    <a href="#" class="box ratio-4-3">
      <div class="box-background"></div>
      <div class="box-content">
        <div class="plan-title plan-service">
            Разовая детализация
        </div>
        <div class="plan-subtitle">
          Price information
        </div>
        <div class="box-footer plan-cta-container">
          <div href="#" class="button">Использовать</div>
        </div>
      </div>
    </a>
    <p class="gutter small-text"></p>
  </div><div class="d1-4">
    <a href="#" class="box ratio-4-3">
      <div class="box-background"></div>
      <div class="box-content">
        <div class="plan-title plan-service">
            Example service
        </div>
        <div class="plan-subtitle">
          Price information
        </div>
        <div class="box-footer plan-cta-container">
          <div href="#" class="button">Подключить</div>
        </div>
      </div>
    </a>
    <p class="gutter small-text"></p>
  </div><div class="d1-4">
    <a href="#" class="box ratio-4-3">
      <div class="box-background"></div>
      <div class="box-content">
        <div class="plan-title plan-service">
            Example service
        </div>
        <div class="plan-subtitle">
          Price information
        </div>
        <div class="box-footer plan-cta-container">
          <div href="#" class="button">Подключить</div>
        </div>
      </div>
    </a>
    <p class="gutter small-text"></p>
  </div><div class="d1-4">
    <a href="#" class="box active ratio-4-3">
      <div class="box-background"></div>
      <div class="box-content">
        <div class="plan-title plan-service">
            Example service
        </div>
        <div class="plan-subtitle">
          Price information
        </div>
        <div class="box-footer plan-cta-container">
          Услуга подключена
        </div>
      </div>
    </a>
    <p class="gutter small-text"><a href="#">Отключить услугу</a></p>
  </div>

{% endblock %}