{% block content %}


  <h1 class="gutter page-header">Бизнес клиентам</h1>

  <div class="d1-2 m1-3 l1-4">
    <a href="#" class="box ratio-box animated-box ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-business-informer">История</div>
    </a>
  </div><div class="d1-2 m1-3 l1-4">
    <a href="#" class="box ratio-box animated-box ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-star">Преимущества</div>
    </a>
  </div><div class="d1-2 m1-3 l1-2">
    <a href="#" class="box ratio-box animated-box ratio-1 l-ratio-2-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-tick">Условия подключения</div>
    </a>
  </div><div class="d1-2 m1-4">
    <a href="#" class="box ratio-box animated-box ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-business-services">Услуги</div>
    </a>
  </div><div class="d1-2 m1-4">
    <a href="#" class="box ratio-box animated-box ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-site-plans">Тарифные предложения</div>
    </a>
  </div><div class="d1-2 m1-4">
    <a href="#" class="box ratio-box animated-box ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-business-devices">Устройства</div>
    </a>
  </div><div class="d1-2 m1-4">
    <a href="#" class="box ratio-box animated-box ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-payment">Оплата</div>
    </a>
  </div>

<div class="box ratio-box ratio-3-4 m-ratio-2-1 l-ratio-3-1" id="carousel" data-ride="carousel">
  <div class="box-content carousel">

    <div class="item cover-media carousel-item-type-left active" style="background-image: url({{ 'business-a.jpg' | asset_url }});">
      <div class="center-this">
        <div class="this">
          <h1>Ullamcorper Fringilla Commodo</h1>
          <p>Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum.</p>
          <a href="#" class="btn btn--cta">Something</a>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  jQuery(document).ready(function ($) {

    BackgroundCheck.init({
      targets: '.carousel .item .this, .carousel-indicators .circle',
      images: '.carousel .item'
    })
    BackgroundCheck.refresh();

    $('#carousel').on('slid.bs.carousel', function(e) {
      BackgroundCheck.refresh();
    });
  });
</script>
{% endblock %}
