{% block content %}

<h1 class="gutter">Партнерам</h1>

<div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-business-informer">История</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-star">Преимущества</div>
  </a>
</div><div class="d1-2 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-2-1 m-ratio-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-handshake">Виды партнерства</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-tick">Условия сотрудничества</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-business-devices">Устройства</div>
  </a>
</div><div class="d1-2 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-2-1 m-ratio-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-docs">Пакет документов</div>
  </a>
</div>

<div class="d1">
  <div class="box ratio-box ratio-3-1 m-ratio-4-3">
    <div id="carousel" data-ride="carousel" class="box-content">
      <div class="slider-container">
        <div class="slides">
          <div id="slide-1" class="item active item-type-left">
            <div class="slide-visual">
              <img src="/public/images/slides/business-a.jpg" alt="Slide">
            </div>
            <div class="slide-message">
              <h1 class="slide-heading">
                ALTEL<br>BUSINESS
                <span class="extra">
                  Subtitle
                </span>
              </h1>
              <div class="slide-cta">
                <a href="#" class="button">Call to action</a>
              </div>
            </div>
          </div>

          <!-- <div id="slide-2" class="item">
            <div class="slide-visual">
              <img src="/public/images/slides/image-2.png" alt="Slide">
            </div>
            <div class="slide-product">
              <img src="/public/images/slides/product.png" alt="Product">
            </div>
            <div class="slide-message">
              <h1 class="slide-heading">
                Another<br>epic
                <span class="extra">
                  4G-headline<br>for your phone
                </span>
              </h1>
              <div class="slide-cta">
                <a href="#" class="cta-button">Call to action!</a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
