{% block content %}

<div class="gutter">
  <h1 class="page-title">Обратная связь</h1>
  <div class="d1-6 s1">
    <section class="side-navigation-meta">
      <a href="/business-index" class="back-button">Altel B2B</a>
    </section>
    <!-- <ul class="side-navigation">
      <li><a href="/site-support-coverage" class="side-navigation-item">Зона покрытия</a></li>
      <li><a href="/site-support-service-centres" class="side-navigation-item">Сервис центры на карте</a></li>
      <li><a href="/site-support-feedback" class="side-navigation-item">Обратная связь</a></li>
      <li><a href="#" class="side-navigation-item">Онлайн консультант</a></li>
    </ul> -->
  </div><div class="d2-3 m5-6 s1">
    <div class="box">
      <div class="box-content">
        <form class="readable">
          <h2>Форма обратной связи</h2>

          <div class="input-line">
            <label for="">Подать заявку или задать вопрос: *</label>
            <textarea class="input-d1" name="" id="" cols="30" rows="4"></textarea>
          </div>


          <div class="input-line">
            <label for="">Наименование компании: *</label>
            <input type="text" class="input-d1">
            <div class="extra">
              <p class="no-trailer wrong">Something is wrong! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos perspiciatis est illo quia ea error ducimus. Iste, eveniet mollitia praesentium quasi saepe deleniti nobis sunt fuga possimus quos aut vitae.</p>
            </div>
          </div>


          <div class="input-line">
            <label for="">Имя: *</label>
            <input type="text" class="input-d1">
          </div>
          <div class="input-line">
            <label for="">Электронный адрес: *</label>
            <input type="text" class="input-d1">
          </div>
          <div class="input-line">
            <label for="">Контактный телефон: *</label>
            <input type="text" class="input-d1">
          </div>
          <div class="input-line">
            <label for="">Код подтверждения: *</label>
            <div class="d1-2 middle">
              <input class="input-d1" type="text">
            </div><div class="d1-2 text-center middle gutter captcha">
            {{ "120x48" | placeholder:'FF6600','000000' | image_tag }}
            </div>
          </div>
          <div class="input-line text-center">
            <a href="/site-chairman-blog" class="u-link">Отменить</a>
            <span class="space">&middot;</span>
            <button>Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
