{% block content %}

<div class="box box--common">
    <div class="box-content">
        <form class="readable">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus odio, reiciendis, voluptas magni laborum corporis dignissimos culpa, quisquam ad distinctio provident, corrupti praesentium quod necessitatibus deserunt eveniet dolore enim eaque?</p>
            <div class="input-line">
                <label class="label-checkbox"><input type="checkbox" /> I agree и всё такое</label>
            </div>

            <div class="input-line text-center">
                <label>Начать консультацию на языке:</label>
                <button>Кз</button>
                <button>Ру</button>
                <button>En</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}
