{% block content %}
  {% include "dashboard-navigation" %}

  <div class="d1 gutter">
    <h2 class="page-title">
      Все подключенные услуги:
    </h2>
  </div>

  <div class="d1-2">
    <div class="no-ratio-box">
      <div class="no-ratio-box-content">
        <div class="plan-title">Plan title</div>
        <ul class="plan-benefits">
          <li>Plan service 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam.</li>
          <li>Plan service 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam.</li>
          <li>Plan service 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam.</li>
          <li>Plan service 4. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam.</li>
          <li>Plan service 5. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam.</li>
          <li>Plan service 6. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam.</li>
        </ul>
        <div class="plan-cta-container">
          <span class="plan-price">
            10
          </span>
          <span class="plan-period">
            за минуту
          </span>
        </div>
      </div>
    </div>
    <p class="gutter small-text"><a href="#">Выбрать другой план</a></p>
  </div><div class="d1-2">
    <div class="no-ratio-box">
      <div class="no-ratio-box-content">
        <div class="plan-title">Дополнительные услуги</div>
        <ul class="plan-benefits">
          <li>Extra service 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam.</li>
          <li>Extra service 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam.</li>
          <li>Extra service 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam.</li>
          <li>Extra service 4. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam.</li>
          <li>Extra service 5. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam.</li>
          <li>Extra service 6. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam.</li>
        </ul>
        <div class="plan-cta-container">
          <span class="plan-price">
            10
          </span>
          <span class="plan-period">
            в месяц
          </span>
        </div>
      </div>
    </div>
    <p class="gutter small-text"><a href="#">Настроить дополнительные услуги</a></p>
  </div>

{% endblock %}