{% block content %}
  {% include "dashboard-navigation" %}

  <section class="section-container">
    <div class="page-title-container">
      <a href="/dashboard" class="back-button">Назад в кабинет</a>
      <h2 class="page-title">
        Поддержка: контакты
      </h2>
    </div>
    
    <div class="text-center">
      <div class="d2-3 l1">
        <div class="box box-content">
          <div class="gutter">
            <table class="common-table">
              <thead>
                <tr>
                  <th colspan="2" class="common-table-title">Алматы:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table1-2">
                    Тел.: <strong>+7 (727) 32 99 333</strong>
                    <ul>
                      <li>мкр. Орбита 2,д.6 (Навои д .6 уг. пр. Аль-Фараби)</li>
                      <li>ул. Толе би д.101 (уг. ул. Байтурсынова, бизнес-центр «Далич»)</li>
                      <li>ул. Кунаева, 105/115 (уг. ул. Богенбай батыра)</li>
                    </ul>
                  </td>
                  <td class="table1-2">
                    Будние дни 09:00 – 19:00 <br>
                    Суббота, Воскресенье 10:00 – 17:00
                  </td>
                </tr>
                <tr>
                  <td class="table1-2">
                    <ul><li>ТРЦ "Globus", ул.Абая, 109, уг.ул.Ауезова, 2 этаж, бутик 38</li></ul>
                  </td>
                  <td class="table1-2">
                    Ежедневно 10:00 - 22:00
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="common-table">
              <thead>
                <tr>
                  <th colspan="2" class="common-table-title">Астана:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table1-2">
                    Тел.: <strong>+7 (7172) 456 333</strong>
                    <ul><li>пр. Республики, 5</li></ul>
                  </td>
                  <td class="table1-2">
                    Будние дни 09:00 – 19:00 <br>
                    Суббота, Воскресенье 10:00 – 17:00
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </section>
{% endblock %}