{% model "services.json" %}

{% block content %}
  {% include "dashboard-navigation" %}

  <section class="section-container">
    <div class="page-title-container">
      <a href="/dashboard" class="back-button">Назад в кабинет</a>
      <h2 class="page-title">
        Список подключенных услуг
      </h2>
      <p class="section-container-badge">
        1235 тенге на счете
      </p>
    </div>

    <div class="text-center">
      <div class="d2-3 l1">
        <div class="box">
          <div class="box-content">
            <h2 class="plan-title">Дополнительные услуги</h2>
            <ul class="additional-services-setuplist">
              {% for service in model.services %}
              {% if service.active %}
                <li class="{% if service.active %}active{% endif %}">
                  <div class="d2-3 middle">
                    <p class="service-title">{{ service.name }}</p>
                    <p class="service-subtitle">{{ service.subtitle }}</p>
                  </div><p class="d1-3 middle no-trailer text-right">
                    {% if service.active %}
                      <a href="#" class="u-link">Отключить</a>
                    {% else %}
                      <a href="#" class="button">{{ service.cta-message }}</a>
                    {% endif %}
                  </p>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <p class="gutter text-left"><a href="/dashboard-additional-services" class="iu-link">Доступные услуги</a></p>
      </div>
    </div>
  </section>
{% endblock %}