{% block content %}
  {% include "dashboard-navigation" %}

  <section class="section-container">
    <div class="page-title-container">
      <a href="/dashboard" class="back-button">Назад в кабинет</a>
      <h2 class="page-title">
        Поддержка: часто задаваемые вопросы (FAQ)
      </h2>
    </div>
    
    <div class="text-center">
      <div class="d2-3 l3-4 m1">
        <div class="box box-content">
          <ul class="acc-list text-left js-acc-list">
            {% for i in (1..20) %}
            <li>
              <a href="#" class="acc-list-item">
                {{ 1 | lorem_ipsum }}
              </a>
              <div class="acc-list-content">
                {{ 3 | lorem_ipsum:"p" }}
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </section>
{% endblock %}