
{% block content %}
  {% include "dashboard-navigation" %}

  <section class="section-container">
    <div class="page-title-container">
      <a href="/dashboard" class="back-button">Назад в кабинет</a>
      <h2 class="page-title">
        История платежей
      </h2>
    </div>
    
    <div class="d1-3 l1 middle gutter">
      <div class="input-line">
        <a href="#" class="iu-link no-break">За весь период</a>
        <span class="space"></span>
        <a href="#" class="iu-link active-link no-break">Последние три месяца</a>
      </div>
    </div><form class="d2-3 l1 middle gutter">
      <div class="input-line">
        <div class="column gutter-right s1-2 middle">
          <span class="middle">Начало:</span> 
          <select class="history-select" name="" id="">
            <option value="">Январь 2013</option>
          </select>
        </div><div class="column gutter-right s1-2 middle">
          <span class="middle">Конец:</span>
          <select class="history-select" name="" id="">
            <option value="">Январь 2014</option>
          </select>
        </div>
        <a class="middle iu-link" href="#">показать</a>
      </div>
    </form>
    
    <div class="text-center">
      <div class="d2-3 l1">
        <div class="box">
          <div class="box-content">
            <ul class="payment-history">
              <li class="split payment-history-header"><span class="split-title">Время</span></span> сумма (тенге)</li>
              <li class="history-period">
                Январь 2014
              </li>
              <li class="split">
                <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
                899
              </li>
              <li class="split">
                <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
                899
              </li>
              <li class="split">
                <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
                899
              </li>
              <li class="history-period">
                Month, year
              </li>
              <li class="split">
                <span class="split-title">Date / <span class="hms-time">time</span>
                </span>
                payment-amount
              </li>
              <li class="history-period">
                Month, year
              </li>
              <li class="split">
                <span class="split-title">Date / <span class="hms-time">time</span>
                </span>
                payment-amount
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    {% include "pagination" %}
  </section>
  
{% comment %}

  <div class="d1-4 gutter">
      <ul class="payment-history">
        <li class="split payment-history-header">
          <span class="split-title">Время</span></span>
          сумма (тенге)
        </li>
        <li class="history-period">
          Январь 2014
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="history-period">
          Month, year
        </li>
        <li class="split">
          <span class="split-title">Date / <span class="hms-time">time</span>
          </span>
          payment-amount
        </li>
        <li class="history-period">
          Month, year
        </li>
        <li class="split">
          <span class="split-title">Date / <span class="hms-time">time</span>
          </span>
          payment-amount
        </li>
      </ul>
    </div><div class="d1-4 gutter">
      <ul class="payment-history">
        <li class="split payment-history-header">
          <span class="split-title">Время</span></span>
          сумма (тенге)
        </li>
        <li class="history-period">
          Январь 2014
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="history-period">
          Month, year
        </li>
        <li class="split">
          <span class="split-title">Date / <span class="hms-time">time</span>
          </span>
          payment-amount
        </li>
        <li class="history-period">
          Month, year
        </li>
        <li class="split">
          <span class="split-title">Date / <span class="hms-time">time</span>
          </span>
          payment-amount
        </li>
      </ul>
    </div><div class="d1-4 gutter">
      <ul class="payment-history">
        <li class="split payment-history-header">
          <span class="split-title">Время</span></span>
          сумма (тенге)
        </li>
        <li class="history-period">
          Январь 2014
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="history-period">
          Month, year
        </li>
        <li class="split">
          <span class="split-title">Date / <span class="hms-time">time</span>
          </span>
          payment-amount
        </li>
        <li class="history-period">
          Month, year
        </li>
        <li class="split">
          <span class="split-title">Date / <span class="hms-time">time</span>
          </span>
          payment-amount
        </li>
      </ul>
    </div>{% endcomment %}

{% endblock %}