{% block content %}

{% include "dashboard-navigation" %}

  <section class="section-container">
    <div class="page-title-container">
      <a href="/dashboard" class="back-button">Назад в кабинет</a>
      <h2 class="page-title">
        Детализация потребления
      </h2>
    </div>

    <form class="d1 gutter">
      <div class="input-line">
        <div class="column s1 gutter-right">
          <span class="middle">Выберите месяц:</span>
          <select class="history-select" name="" id=""></select>
        </div>
        <a class="middle iu-link" href="#">сформировать детализацию</a>
      </div>
    </form>
    <div class="loader-container">
      <span class="loader"></span>
    </div>
    <div class="d1-6 l1-4 s1-2">
      <a href="#" class="box ratio-box animated-box">
        <div class="box-background"></div>
        <div class="box-content box-icon-xls">XLS</div>
      </a>
    </div><div class="d1-6 l1-4 s1-2">
      <a href="#" class="box ratio-box animated-box">
        <div class="box-background"></div>
        <div class="box-content box-icon-pdf">PDF</div>
      </a>
    </div><div class="d1-6 l1-4 s1-2">
      <a href="#" class="box ratio-box animated-box">
        <div class="box-background"></div>
        <div class="box-content box-icon-html">HTML</div>
      </a>
    </div>

  </section>

{% endblock %}