{% block content %}
  {% include "dashboard-navigation" %}

  <div class="d1 gutter">
    <h2 class="page-title">
      <span class="middle">У Вас</span>
      <div class="plan-price">1 235,34</div>
      <span class="middle">на счете. Выберите подходящий Вам тарифный план:</span>
    </h2>
  </div>

  {% for i in (1..3) %}<div class="d1-4">
    <a href="#" class="box ratio-3-4 {% if i == 1 %}active{% endif %}">
      <div class="box-background"></div>
      <div class="box-content">
        <h2 class="plan-title">
          Plan {{i}} title
        </h2>
        <p class="plan-subtitle">
          From <span class="price">{{ 'now' | date: "%j" }}</span> a month
        </p>
        <div class="plan-graphic">
          <img src="/public/images/plan-icon-generic.svg" alt="plan {{ i }}">
        </div>
        <p class="plan-benefits hide-on-large">
          {{ 1| lorem_ipsum | truncate:140 }}
        </p>
        
        <div class="box-footer plan-cta-container">
          {% if i == 1 %}
            Текущий план
          {% else %}
            <div href="#" class="button">Подключить</div>
          {% endif %}
        </div>
        
      </div>
    </a>
    <p class="gutter small-text"><a href="#">Подробнее об этом плане</a></p>
  </div>{% endfor%}
{% endblock %}