{% model "plans.json" %}

{% block content %}
  {% include "dashboard-navigation" %}

  <section class="section-container">
    <div class="page-title-container">
      <a href="/dashboard" class="back-button">Назад в кабинет</a>
      <h2 class="page-title">
        Список доступных пакетов
      </h2>
      <p class="section-container-badge">
        1235 тенге на счете
      </p>
    </div>
    
    {% for plan in model.ltePlans %}<div class="d1-4 l1-3">
      {% include "dashboard-planbox-activated" with plan %}
    </div>{% endfor %}
  </section>
{% endblock %}