{% block content %}
  {% include "dashboard-navigation" %}

  <div class="d1-3">
    <a href="/payment" class="box">
      <div class="box-background"></div>
      <div class="box-content">
        Пополнить счет

        <div class="account-info">
          <div class="current-balance-container">
            <div class="current-balance">
              1 235,34
            </div>
          </div>
          <div class="counter-group">
            <div class="d1-3 counter">
              49 <sup>+30</sup>
              <span class="counter-title"><span class="icon-time">Минуты</span></span>
            </div><div class="d1-3 counter">
              240 <sup>+100</sup>
              <span class="counter-title"><span class="icon-message">СМС</span></span>
            </div><div class="d1-3 counter">
              2 <sup>+320 Мб</sup>
              <span class="counter-title"><span class="icon-wifi">Трафик, Гб</span></span>
            </div>
          </div>
        </div>

        <div class="box-footer account-additional-info">
          <div class="split">
            <span class="split-title">Последнее списание</span>
            8 января 2013
          </div>
          <div class="split">
            <span class="split-title">Следующее списание</span>
            8 февраля 2013
          </div>
        </div>
      </div>
    </a>

  </div><div class="d2-3">
    <div class="d1-2">
      <a href="/dashboard-plans" class="box ratio-2-1">
        <div class="box-background"></div>
        <div class="box-content">
          <div class="plan-title">
            Plan name
          </div>
          <div class="plan-subtitle">
            Price information
          </div>
          <p class="plan-benefits">
            {{ 1| lorem_ipsum | truncate:140 }}
          </p>
          
          <div class="box-footer plan-cta-container">
            <div class="button">Сменить тариф</div>
          </div>
        </div>
      </a>
    </div><div class="d1-2">
      <a href="/additional-services" class="box ratio-2-1">
        <div class="box-background"></div>
        <div class="box-content">
          Дополнительные услуги
          <ul class="plan-benefits">
            <li class="active">Additional service 1. Lorem ipsum dolor sit amet</li>
            <li class="active">Additional service 2. Lorem ipsum dolor sit amet</li>
            <li>Additional service 3. Lorem ipsum dolor sit amet</li>
            <li>Additional service 4. Lorem ipsum dolor sit amet</li>
            <li>Additional service 5. Lorem ipsum dolor sit amet</li>
          </ul>
          <div class="box-footer plan-cta-container">
            <span class="plan-price">
              200
            </span>
            <span class="plan-period">в месяц за всё</span>
          </div>
        </div>
      </a>
    </div>
    <a href="/connected-services" class="box ratio-8-1">
      <div class="box-background"></div>
      <div class="box-content">
        Все подключенные услуги
      </div>
    </a>
    <div class="d1-2">
      <a href="/payment-history" class="box ratio-4-1">
        <div class="box-background"></div>
        <div class="box-content">
          История платежей
        </div>
      </a>
    </div><div class="d1-2">
      <a href="/consumption-details" class="box ratio-4-1">
        <div class="box-background"></div>
        <div class="box-content">
          Детализация потребления
        </div>
      </a>
    </div>
  </div>
{% endblock %}