{% model "plans.json" %}

{% block modal %}
  <div class="modal" id="modal1">
    <div class="container text-center">
      <div class="d2-3 l3-4 m1">
        <div class="box">
          <div class="box-content epic-plan">
            <h2 class="plan-title">UnlimLTE</h2>
            <p class="plan-subtitle">4500 тенге в месяц</p>
            <div class="epic-plan-graphics plan-icon"></div>
            <p class="plan-benefits">
              Удовольствие от потрясающей скорости загрузки видео-контента, музыки, приложений и серфинга на работе, дома, на даче и даже в автомобиле!
            </p>
            <div class="plan-cta-container">
              Текущий план <span class="space">&middot;</span> <a href="#" class="u-link js-modal-close">Закрыть</a>
            </div>
            <div class="plan-description">
              <div class="d3-4 l1 text-left">
                <p>
                  &laquo;UnlimLTE&raquo; &mdash; это:
                </p>
                <ul>
                  <li>Неограниченный объем трафика</li>
                  <li>Фиксированная абонентская плата <strong>4500</strong> тенге/месяц</li>
                  <li>Мега-скидки на оборудование</li>
                </ul>
              </div>
            </div>
            <table class="plan-table">
              <thead>
                <tr>
                  <th colspan="2" class="plan-table-title">О тарифе</th>
                </tr>
              </thead>
              <tr>
                  <td class="plan-table-a">
                    Наименование тарифа
                  </td>
                  <td class="plan-table-b">
                    «Unlim LTE»
                  </td>
                </tr>
                <tr>
                  <td class="plan-table-a">
                    Объем предоставляемого трафика
                  </td>
                  <td class="plan-table-b">
                    Unlim
                  </td>
                </tr>
                <tr>
                  <td class="plan-table-a">
                    Абонентская плата, с НДС
                  </td>
                  <td class="plan-table-b">
                    <strong>4500</strong> тенге
                  </td>
                </tr>
                <tr>
                  <td class="plan-table-a">
                    Срок действия абонентской платы
                  </td>
                  <td class="plan-table-b">
                    30 дней с момента подключения
                  </td>
                </tr>
                <tr>
                  <td class="plan-table-a">
                    Стоимость Стартового пакета
                  </td>
                  <td class="plan-table-b">
                    <strong>4500</strong> тенге*
                  </td>
                </tr>
            </table>
            <div class="footnotes">
              <p class="footnote">* Стоимость при покупке HUAWEI E5372 MiFi, USB-модем HUAWEI E3272, USB-модем ZTEMF827 &mdash; 2250тг.</p>
            </div>
            <table class="plan-table">
              <thead>
                <tr>
                  <th colspan="2" class="plan-table-title">Дополнительная информация</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="plan-table-a">
                    <ul>
                      <li>
                        Абонентская плата при подключении списывается единовременно и в полном объеме с баланса абонента.
                      </li>
                      <li>Если очередная абонентская плата не внесена, доступ в интернет блокируется, система переадресует Вас на страницу Личного Кабинета, где Вы сможете произвести оплату. При пополнении баланса происходит списание абонентской платы и предоставление «Unlim LTE» в течение следующих 30 дней.</li>
                      <li>
                        Вы можете в любое время подключить в Личном Кабинете другие пакеты или сменить тариф, при этом условия предоставления тарифа «Unlim LTE» аннулируются. При возврате на тариф «Unlim LTE» абонентская плата списывается в полном объеме, услуга предоставляется в течение последующих 30 дней.
                      </li>
                      <li>
                        Доступ к Личному кабинету не тарифицируется и будет открыт при любом балансе.
                      </li>
                      <li>
                        Обязательное условие работы тарифных планов - наличие любого положительного баланса.
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td class="plan-table-a">
                    Скорость 4G гарантирована при использовании объема трафика до 10 Gb. После превышения 10 Gb скорость может снижаться, в зависимости от нахождения абонента в сети в часы наивысшей нагрузки.
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="box-footer plan-cta-container">
              Текущий план <span class="space">&middot;</span> <a href="#" class="u-link js-modal-close">Закрыть</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="modal-connect">
    <div class="container text-center">
      <div class="d1-3 l2-3">
        <div class="box">
          <div class="box-content">
            <p>Some message regarding connection&hellip;</p>
            <p>Press [esc] to close this modal.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include "dashboard-navigation" %}

  <section class="section-container">
    <div class="page-title-container">
      <a href="/dashboard" class="back-button">Назад в кабинет</a>
      <h2 class="page-title">
        Список доступных пакетов
      </h2>
      <p class="section-container-badge">
        1235 тенге на счете
      </p>
    </div>
    
    <div class="d1-6">
      <ul class="side-navigation">
        <!-- <li class="side-navigation-group-title">Доступные планы</li> -->
        {% for plan in model.ltePlans %}
          <li><a href="{{ plan.url }}" class="side-navigation-item">{{ plan.name }}</a></li>
        {% endfor %}
      </ul>
    </div><div class="d5-6">
      {% for plan in model.ltePlans %}<div class="d1-4 l1-3 m1-2">
        {% include "dashboard-planbox-activated" with plan %}
      </div>{% endfor %}
    </div>
  </section>
{% endblock %}