{% block content %}

<ul class="breadcrumbs">
  <li class="breadcrumbs-item">
    <a class="breadcrumbs-item-link" href="/" title="Главная">Главная</a>
  </li>
  <li class="breadcrumbs-item">
    <a class="breadcrumbs-item-link" href="/devices/" title="Устройства">Устройства</a>
  </li>
  <li class="breadcrumbs-item">
    <a class="breadcrumbs-item-link" href="/devices/phones/" title="Смартфоны">Смартфоны</a>
  </li>
  <li class="breadcrumbs-item">Lenovo A316i Dual SIM</li>
</ul>

<div class="gutter">
  <div class="d1-6 l1-6 m1">
    <section class="side-navigation-meta">
      <div class="page-title">Смартфоны</div>
      <!-- plan list start --><ul class="side-navigation"><li><a href="/devices/phones/detail.php?ID=400" class="side-navigation-item">Lenovo A316i Dual SIM</a></li><li><a href="/devices/phones/detail.php?ID=275" class="side-navigation-item">Huawei U5130</a></li><li><a href="/devices/phones/detail.php?ID=274" class="side-navigation-item">Huawei Ascend Y220 Dual SIM</a></li><li><a href="/devices/phones/detail.php?ID=315" class="side-navigation-item">Nokia Lumia 625</a></li><li><a href="/devices/phones/detail.php?ID=295" class="side-navigation-item">Nokia Lumia 520</a></li><li><a href="/devices/phones/detail.php?ID=333" class="side-navigation-item">Samsung Galaxy Core LTE</a></li><li><a href="/devices/phones/detail.php?ID=277" class="side-navigation-item">Nokia Lumia 1320 LTE</a></li><li><a href="/devices/phones/detail.php?ID=340" class="side-navigation-item">Samsung Galaxy S4 mini Dual SIM Black Edition</a></li><li><a href="/devices/phones/detail.php?ID=337" class="side-navigation-item">Samsung Galaxy S III Neo Dual SIM</a></li><li><a href="/devices/phones/detail.php?ID=335" class="side-navigation-item">Samsung Galaxy Grand 2 Dual SIM</a></li><li><a href="/devices/phones/detail.php?ID=316" class="side-navigation-item">Nokia Lumia 925 LTE</a></li><li><a href="/devices/phones/detail.php?ID=338" class="side-navigation-item">Samsung Galaxy S4 Black Edition</a></li><li><a href="/devices/phones/detail.php?ID=673" class="side-navigation-item">Samsung Galaxy S4</a></li><li><a href="/devices/phones/detail.php?ID=674" class="side-navigation-item">Samsung Galaxy Note 3 Neo LTE</a></li><li><a href="/devices/phones/detail.php?ID=797" class="side-navigation-item">HTC One (M8) Dual SIM</a></li><li><a href="/devices/phones/detail.php?ID=336" class="side-navigation-item">Samsung Galaxy Note 3</a></li><li><a href="/devices/phones/detail.php?ID=276" class="side-navigation-item">Samsung Galaxy S5 LTE</a></li></ul>

      </section>
  </div><div class="d2-3 l5-6 m1">
  <div class="box">
    <div class="box-content epic-plan">
      <h1 class="plan-title">Lenovo A316i Dual SIM</h1>
      <p class="plan-subtitle"></p>
      <div class="box-footer plan-benefits">
        <div class="text-center fluffy">
          <div class="prod">
            <div class="prod-type js-prod1 active">
              {{ 'example/lenovo-2.png' | asset_url | image_tag }}
            </div>
            <div class="prod-type js-prod2">
              {{ 'example/lenovo.png' | asset_url | image_tag }}
            </div>
          </div>
        </div>
        <div class="readable">
          <div class="prod-toggles">
            <a href="#" class="prod-toggle active" data-toggle="prod-type" data-target="prod1" title="White" style="color: #fff;">White</a>
            <a href="#" class="prod-toggle" data-toggle="prod-type" data-target="prod2" title="Black" style="color: #000;">Black</a>
          </div>
        </div>
      </div>
      <div class="plan-cta-container">
        <a href="/tariffs/" class="u-link small-heading">Подобрать тариф</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/support/apn/" class="u-link small-heading">Настройки доступа в Интернет</a>
      </div>
      <div class="plan-cta-container">
        <span>Цена: 9 990 тенге</span>
        <p><span>Цена без подключения: 14 990 тенге</span></p>
        <p><span>Цена при подключении к ALTEL 4G:GSM: 12 990 тенге</span></p>
        <p><span>Цена для абонентов CDMA при переходе на ALTEL 4G:GSM: 9 990 тенге</span></p>
      </div>
      <div class="plan-description">
        <div class="readable text-left">
          <p>
            <p class="MsoNormal" style="margin-bottom: 0.0001pt;"><b><span style="font-size: 14pt; font-family: 'Times New Roman', serif;">4-дюймовый дисплей<o:p></o:p></span></b></p>

            <p class="MsoNormal" style="margin-bottom: 0.0001pt;"><span style="font-size: 14pt; font-family: 'Times New Roman', serif;">Благодаря большому дисплею на Lenovo A316i удобно просматривать фильмы и другое содержимое, получать огромное удовольствие от игр, обмена сообщениями и веб-серфинга. Кроме того, устройством можно комфортно управлять одной рукой.<o:p></o:p></span></p>

            <p class="MsoNormal" style="margin-bottom: 0.0001pt;"><b><span style="font-size: 14pt; font-family: 'Times New Roman', serif;">Двухъядерный процессор<o:p></o:p></span></b></p>

            <p class="MsoNormal" style="margin-bottom: 0.0001pt;"><span style="font-size: 14pt; font-family: 'Times New Roman', serif;">Смартфон A316i оснащен мощным двухъядерным процессором с тактовой частотой 1,3 ГГц &ndash; распрощайтесь с задержками при запуске приложений и просмотре фотографий. Улучшенная многозадачность обеспечивает легкость и быстроту при работе с устройством.<o:p></o:p></span></p>

            <p class="MsoNormal" style="margin-bottom: 0.0001pt;"><b><span style="font-size: 14pt; font-family: 'Times New Roman', serif;">Возможность установки двух SIM-карт<o:p></o:p></span></b></p>

            <p class="MsoNormal" style="margin-bottom: 0.0001pt;"><span style="font-size: 14pt; font-family: 'Times New Roman', serif;">Смартфон поддерживает две SIM-карты: вы сможете с легкостью разделить рабочее и личное общение, сэкономить на разговорах в зарубежной поездке или просто воспользоваться наиболее выгодным тарифом.<o:p></o:p></span></p>

            <p class="MsoNormal" style="margin-bottom: 0.0001pt;"><b><span style="font-size: 14pt; font-family: 'Times New Roman', serif;">Камера 2 Мпикс<o:p></o:p></span></b></p>

            <p class="MsoNormal" style="margin-bottom: 0.0001pt;"><span style="font-size: 14pt; font-family: 'Times New Roman', serif;">Получайте яркие и живые фотографии и видео своего общения с друзьями и близкими с помощью двухмегапиксельной задней камеры смартфона A316i.<o:p></o:p></span></p>

            <p class="MsoNormal" style="margin-bottom: 0.0001pt;"><b><span style="font-size: 14pt; font-family: 'Times New Roman', serif;">Возможность установки карты Micro SD<o:p></o:p></span></b></p>

            <p class="MsoNormal" style="margin-bottom: 0.0001pt;"><span style="font-size: 14pt; font-family: 'Times New Roman', serif;">Внутреннюю память емкостью 4 ГБ можно быстро увеличить еще на 32 ГБ, установив карту Micro SD: теперь вам всегда хватит места для хранения фотографий, музыки и видео.<o:p></o:p></span></p>

            <p class="MsoNormal" style="margin-bottom: 0.0001pt;"><b><span style="font-size: 14pt; font-family: 'Times New Roman', serif;">Точка доступа WiFi<o:p></o:p></span></b></p>

            <p class="MsoNormal" style="margin-bottom: 0.0001pt;"><span style="font-size: 14pt; font-family: 'Times New Roman', serif;">Используйте A316i, чтобы развернуть мобильную беспроводную сеть и подключить в ней, например, ноутбук или планшет.<o:p></o:p></span></p>
          </p>
        </div>
      </div>
    </div></div></div></div>
{% endblock %}
