{% block content %}
<ul class="breadcrumbs">
  <li class="breadcrumbs-item">
    <a class="breadcrumbs-item-link" href="http://altel.kz/" title="Главная">Главная</a>
  </li>
  <li class="breadcrumbs-item">
    <a class="breadcrumbs-item-link" href="http://altel.kz/devices/" title="Устройства">Устройства</a>
  </li>
  <li class="breadcrumbs-item">Смартфоны</li>
</ul><div class="gutter">
  <div class="d1-6 m1"><section class="side-navigation-meta"><h1 class="page-title">Смартфоны</h1><ul class="side-navigation"><li><a href="http://altel.kz/devices/phones/detail.php?ID=400" class="side-navigation-item">Lenovo A316i Dual SIM</a></li><li><a href="http://altel.kz/devices/phones/detail.php?ID=274" class="side-navigation-item">Huawei Ascend Y220 Dual SIM</a></li><li><a href="http://altel.kz/devices/phones/detail.php?ID=275" class="side-navigation-item">Huawei U5130</a></li><li><a href="http://altel.kz/devices/phones/detail.php?ID=315" class="side-navigation-item">Nokia Lumia 625</a></li><li><a href="http://altel.kz/devices/phones/detail.php?ID=295" class="side-navigation-item">Nokia Lumia 520</a></li><li><a href="http://altel.kz/devices/phones/detail.php?ID=333" class="side-navigation-item">Samsung Galaxy Core LTE</a></li><li><a href="http://altel.kz/devices/phones/detail.php?ID=277" class="side-navigation-item">Nokia Lumia 1320 LTE</a></li><li><a href="http://altel.kz/devices/phones/detail.php?ID=340" class="side-navigation-item">Samsung Galaxy S4 mini Dual SIM Black Edition</a></li><li><a href="http://altel.kz/devices/phones/detail.php?ID=337" class="side-navigation-item">Samsung Galaxy S III Neo Dual SIM</a></li><li><a href="http://altel.kz/devices/phones/detail.php?ID=335" class="side-navigation-item">Samsung Galaxy Grand 2 Dual SIM</a></li><li><a href="http://altel.kz/devices/phones/detail.php?ID=316" class="side-navigation-item">Nokia Lumia 925 LTE</a></li><li><a href="http://altel.kz/devices/phones/detail.php?ID=338" class="side-navigation-item">Samsung Galaxy S4 Black Edition</a></li><li><a href="http://altel.kz/devices/phones/detail.php?ID=336" class="side-navigation-item">Samsung Galaxy Note 3</a></li><li><a href="http://altel.kz/devices/phones/detail.php?ID=276" class="side-navigation-item">Samsung Galaxy S5 LTE</a></li></ul>
  </section></div><div class="d5-6 m1 devices"><div class="d1-4 l1-3 m1-2 s1">
    <a href="http://altel.kz/devices/phones/detail.php?ID=400" class="box ratio-box ratio-2-3 m-ratio-3-4">
      <div class="box-background"></div>
      <div class="box-content planbox">
        <h2 class="plan-title">
          Lenovo A316i Dual SIM
        </h2>
        <p class="plan-subtitle plan-device-price">
          <span class="plan-device-price-bg"></span>
          <span class="plan-device-price-body">
            9 990 тенге
          </span>
        </p>
        <div class="plan-device-figure" style="background-image: url('http://altel.kz/upload/medialibrary/a73/193х198.jpg')">
        </div>
        <div class="box-footer plan-cta-container">
          <div class="button">Подробнее</div>
        </div>

      </div>
    </a>
  </div><div class="d1-4 l1-3 m1-2 s1">
    <a href="http://altel.kz/devices/phones/detail.php?ID=274" class="box ratio-box ratio-2-3 m-ratio-3-4">
      <div class="box-background"></div>
      <div class="box-content planbox">
        <h2 class="plan-title">
          Huawei Ascend Y220 Dual SIM      </h2>
          <p class="plan-subtitle plan-device-price">
            <span class="plan-device-price-bg"></span>
            <span class="plan-device-price-body">
              8 490 тенге        </span>
            </p>
            <div class="plan-device-figure" style="background-image: url('http://altel.kz/upload/medialibrary/e37/Huawei Ascend Y220.png')">
            </div>
            <div class="box-footer plan-cta-container">
              <div class="button">Подробнее</div>
            </div>

          </div>
        </a>
      </div><div class="d1-4 l1-3 m1-2 s1">
        <a href="http://altel.kz/devices/phones/detail.php?ID=275" class="box ratio-box ratio-2-3 m-ratio-3-4">
          <div class="box-background"></div>
          <div class="box-content planbox">
            <h2 class="plan-title">
              Huawei U5130      </h2>
              <p class="plan-subtitle plan-device-price">
                <span class="plan-device-price-bg"></span>
                <span class="plan-device-price-body">
                  5 990 тенге        </span>
                </p>
                <div class="plan-device-figure" style="background-image: url('http://altel.kz/upload/medialibrary/afb/Huawei U5130.png')">
                </div>
                <div class="box-footer plan-cta-container">
                  <div class="button">Подробнее</div>
                </div>

              </div>
            </a>
          </div><div class="d1-4 l1-3 m1-2 s1">
            <a href="http://altel.kz/devices/phones/detail.php?ID=315" class="box ratio-box ratio-2-3 m-ratio-3-4">
              <div class="box-background"></div>
              <div class="box-content planbox">
                <h2 class="plan-title">
                  Nokia Lumia 625      </h2>
                  <p class="plan-subtitle plan-device-price">
                    <span class="plan-device-price-bg"></span>
                    <span class="plan-device-price-body">
                      47 900 тенге        </span>
                    </p>
                    <div class="plan-device-figure" style="background-image: url('http://altel.kz/upload/medialibrary/b7a/nokia lumia 625.png')">
                    </div>
                    <div class="box-footer plan-cta-container">
                      <div class="button">Подробнее</div>
                    </div>

                  </div>
                </a>
              </div><div class="d1-4 l1-3 m1-2 s1">
                <a href="http://altel.kz/devices/phones/detail.php?ID=295" class="box ratio-box ratio-2-3 m-ratio-3-4">
                  <div class="box-background"></div>
                  <div class="box-content planbox">
                    <h2 class="plan-title">
                      Nokia Lumia 520      </h2>
                      <p class="plan-subtitle plan-device-price">
                        <span class="plan-device-price-bg"></span>
                        <span class="plan-device-price-body">
                          24 990 тенге        </span>
                        </p>
                        <div class="plan-device-figure" style="background-image: url('http://altel.kz/upload/medialibrary/6af/nokia lumia 520.png')">
                        </div>
                        <div class="box-footer plan-cta-container">
                          <div class="button">Подробнее</div>
                        </div>

                      </div>
                    </a>
                  </div><div class="d1-4 l1-3 m1-2 s1">
                    <a href="http://altel.kz/devices/phones/detail.php?ID=333" class="box ratio-box ratio-2-3 m-ratio-3-4">
                      <div class="box-background"></div>
                      <div class="box-content planbox">
                        <h2 class="plan-title">
                          Samsung Galaxy Core LTE      </h2>
                          <p class="plan-subtitle plan-device-price">
                            <span class="plan-device-price-bg"></span>
                            <span class="plan-device-price-body">
                              54 990 тенге        </span>
                            </p>

                            <div class="plan-device-figure" style="background-image: url('http://altel.kz/upload/medialibrary/41f/samsung galaxy core lte.png')">
                            </div>
                            <div class="box-footer plan-cta-container">
                              <div class="button">Подробнее</div>
                            </div>

                          </div>
                        </a>
                      </div><div class="d1-4 l1-3 m1-2 s1">
                        <a href="http://altel.kz/devices/phones/detail.php?ID=277" class="box ratio-box ratio-2-3 m-ratio-3-4">
                          <div class="box-background"></div>
                          <div class="box-content planbox">
                            <h2 class="plan-title">
                              Nokia Lumia 1320 LTE      </h2>
                              <p class="plan-subtitle plan-device-price">
                                <span class="plan-device-price-bg"></span>
                                <span class="plan-device-price-body">
                                  65 990 тенге        </span>
                                </p>
                                <div class="plan-device-figure" style="background-image: url('http://altel.kz/upload/medialibrary/07d/nokia lumia 1320.png')">
                                </div>
                                <div class="box-footer plan-cta-container">
                                  <div class="button">Подробнее</div>
                                </div>

                              </div>
                            </a>
                          </div><div class="d1-4 l1-3 m1-2 s1">
                            <a href="http://altel.kz/devices/phones/detail.php?ID=340" class="box ratio-box ratio-2-3 m-ratio-3-4">
                              <div class="box-background"></div>
                              <div class="box-content planbox">
                                <h2 class="plan-title">
                                  Samsung Galaxy S4 mini Dual SIM Black Edition      </h2>
                                  <p class="plan-subtitle plan-device-price">
                                    <span class="plan-device-price-bg"></span>
                                    <span class="plan-device-price-body">
                                      65 990 тенге        </span>
                                    </p>
                                    <div class="plan-device-figure" style="background-image: url('http://altel.kz/upload/medialibrary/e6b/Samsung Galaxy S4 mini DS (Black ed) 2.png')"></div>
                                    <div class="box-footer plan-cta-container">
                                      <div class="button">Подробнее</div>
                                    </div>

                                  </div>
                                </a>
                              </div><div class="d1-4 l1-3 m1-2 s1">
                                <a href="http://altel.kz/devices/phones/detail.php?ID=337" class="box ratio-box ratio-2-3 m-ratio-3-4">
                                  <div class="box-background"></div>
                                  <div class="box-content planbox">
                                    <h2 class="plan-title">
                                      Samsung Galaxy S III Neo Dual SIM      </h2>
                                      <p class="plan-subtitle plan-device-price">
                                        <span class="plan-device-price-bg"></span>
                                        <span class="plan-device-price-body">
                                          79 990 тенге        </span>
                                        </p>
                                        <div class="plan-device-figure" style="background-image: url('http://altel.kz/upload/medialibrary/770/S3 Neo DS.png')"></div>
                                        <div class="box-footer plan-cta-container">
                                          <div class="button">Подробнее</div>
                                        </div>

                                      </div>
                                    </a>
                                  </div><div class="d1-4 l1-3 m1-2 s1">
                                    <a href="http://altel.kz/devices/phones/detail.php?ID=335" class="box ratio-box ratio-2-3 m-ratio-3-4">
                                      <div class="box-background"></div>
                                      <div class="box-content planbox">
                                        <h2 class="plan-title">
                                          Samsung Galaxy Grand 2 Dual SIM      </h2>
                                          <p class="plan-subtitle plan-device-price">
                                            <span class="plan-device-price-bg"></span>
                                            <span class="plan-device-price-body">
                                              89 990 тенге        </span>
                                            </p>
                                            <div class="plan-device-figure" style="background-image:url('http://altel.kz/upload/medialibrary/523/Samsung Galaxy Grand 2 DS.png')">
                                            </div>
                                            <div class="box-footer plan-cta-container">
                                              <div class="button">Подробнее</div>
                                            </div>

                                          </div>
                                        </a>
                                      </div><div class="d1-4 l1-3 m1-2 s1">
                                        <a href="http://altel.kz/devices/phones/detail.php?ID=316" class="box ratio-box ratio-2-3 m-ratio-3-4">
                                          <div class="box-background"></div>
                                          <div class="box-content planbox">
                                            <h2 class="plan-title">
                                              Nokia Lumia 925 LTE      </h2>
                                              <p class="plan-subtitle plan-device-price">
                                                <span class="plan-device-price-bg"></span>
                                                <span class="plan-device-price-body">
                                                  91 990 тенге        </span>
                                                </p>
                                                <div class="plan-device-figure" style="background-image:url('http://altel.kz/upload/medialibrary/136/nokia lumia 925.png')"></div>
                                                <div class="box-footer plan-cta-container">
                                                  <div class="button">Подробнее</div>
                                                </div>

                                              </div>
                                            </a>
                                          </div><div class="d1-4 l1-3 m1-2 s1">
                                            <a href="http://altel.kz/devices/phones/detail.php?ID=338" class="box ratio-box ratio-2-3 m-ratio-3-4">
                                              <div class="box-background"></div>
                                              <div class="box-content planbox">
                                                <h2 class="plan-title">
                                                  Samsung Galaxy S4 Black Edition      </h2>
                                                  <p class="plan-subtitle plan-device-price">
                                                    <span class="plan-device-price-bg"></span>
                                                    <span class="plan-device-price-body">
                                                      109 990 тенге        </span>
                                                    </p>
                                                    <div class="plan-device-figure" style="background-image:url('http://altel.kz/upload/medialibrary/986/Samsung-Black-Edition-Galaxy-S4.png')"></div>
                                                    <div class="box-footer plan-cta-container">
                                                      <div class="button">Подробнее</div>
                                                    </div>

                                                  </div>
                                                </a>
                                              </div><div class="d1-4 l1-3 m1-2 s1">
                                                <a href="http://altel.kz/devices/phones/detail.php?ID=336" class="box ratio-box ratio-2-3 m-ratio-3-4">
                                                  <div class="box-background"></div>
                                                  <div class="box-content planbox">
                                                    <h2 class="plan-title">
                                                      Samsung Galaxy Note 3      </h2>
                                                      <p class="plan-subtitle plan-device-price">
                                                        <span class="plan-device-price-bg"></span>
                                                        <span class="plan-device-price-body">
                                                          139 990 тенге        </span>
                                                        </p>
                                                        <div class="plan-device-figure" style="background-image:url('http://altel.kz/upload/medialibrary/efe/Samsung Galaxy Note 3 NEO.png')"></div>
                                                        <div class="box-footer plan-cta-container">
                                                          <div class="button">Подробнее</div>
                                                        </div>

                                                      </div>
                                                    </a>
                                                  </div><div class="d1-4 l1-3 m1-2 s1">
                                                    <a href="http://altel.kz/devices/phones/detail.php?ID=276" class="box ratio-box ratio-2-3 m-ratio-3-4">
                                                      <div class="box-background"></div>
                                                      <div class="box-content planbox">
                                                        <h2 class="plan-title">
                                                          Samsung Galaxy S5 LTE      </h2>
                                                          <p class="plan-subtitle plan-device-price">
                                                            <span class="plan-device-price-bg"></span>
                                                            <span class="plan-device-price-body">
                                                              159 990 тенге        </span>
                                                            </p>
                                                            <div class="plan-device-figure" style="background-image:url('http://altel.kz/upload/medialibrary/f56/samsung galaxy s5.png')"></div>
                                                            <div class="box-footer plan-cta-container">
                                                              <div class="button">Подробнее</div>
                                                            </div>

                                                          </div>
                                                        </a>
                                                      </div></div>
                                                    </div>
                                                    {% endblock %}
