{% layout "entrance-layout" %}
{% block content %}
  
  <div class="entrance-container">
    
    <div class="entrance-frame">
      <a href="/" class="logotype entrance-logotype">
        <img class="logotype-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Altel">
      </a>
      
      <h1 class="entrance-title">
        Восстановление пароля
      </h1>

      <form>
        <fieldset>
          <div class="input-line">
            <label for="">E-mail</label>
            <input class="input-d1" type="text">
            <div class="extra">
              <p class="no-trailer extra-small-text">Мы вышлем ссылку для сброса пароля вам на почту.</p>
            </div>
          </div>
          <div class="input-line text-center">
            <a href="/entrance-password-notification" class="button middle">Восстановить пароль</a>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="entrance-alternative-path">
      <p>Нет аккаунта? <a href="/entrance-registration">Зарегистрируйтесь!</a></p>
    </div>

  </div>


  {% comment %}<div class="entrance">
    <h2 class="entrance-heading">
      <a href="/" class="logotype">
        <img class="logotype-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Altel">
      </a>
      Вход <sup><a href="#">Регистрация</a></sup>
    </h2>
    <form>
      <fieldset>
        <div class="input-line">
          <label for="">E-mail</label>
          <input class="input-d1" type="text">
        </div>
        <div class="input-line">
          <label for="">Password</label>
          <input class="input-d1" type="password">
        </div>
        <div class="input-line">
          <div class="d1-2 middle">
            <a href="#">Забыли пароль?</a>
          </div><div class="d1-2 middle text-right">
            <a href="/dashboard" class="button middle">Войти</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>{% endcomment %}
{% endblock %}