{% layout "entrance-layout" %}
{% block content %}
  
  <div class="entrance-container">
    
    <div class="entrance-frame">
      <a href="/" class="logotype entrance-logotype">
        <img class="logotype-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Altel">
      </a>
      
      <h1 class="entrance-title">
        xxxxx@xxxxx.xxx
      </h1>
      <p class="no-trailer text-center">
        Вы 3 раза ввели неправильный пароль
      </p>

      <form>
        <fieldset>
          <h2 class="text-center"></h2>
          <div class="input-line">
            <label for="">Введите секретный код</label>
            <input class="input-d1" type="password">
          </div>
          <div class="input-line text-center">
            <a href="/dashboard" class="button middle">Подтвердить</a> или <nobr><a href="#">ввести другой e-mail</a></nobr>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="entrance-alternative-path">
      <p>Нет аккаунта? <a href="/entrance-registration">Зарегистрируйтесь!</a></p>
    </div>

  </div>


  {% comment %}<div class="entrance">
    <h2 class="entrance-heading">
      <a href="/" class="logotype">
        <img class="logotype-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Altel">
      </a>
      Вход <sup><a href="#">Регистрация</a></sup>
    </h2>
    <form>
      <fieldset>
        <div class="input-line">
          <label for="">E-mail</label>
          <input class="input-d1" type="text">
        </div>
        <div class="input-line">
          <label for="">Password</label>
          <input class="input-d1" type="password">
        </div>
        <div class="input-line">
          <div class="d1-2 middle">
            <a href="#">Забыли пароль?</a>
          </div><div class="d1-2 middle text-right">
            <a href="/dashboard" class="button middle">Войти</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>{% endcomment %}
{% endblock %}