{% layout "entrance-layout" %}
{% block content %}
  
  <div class="entrance-container">
    
    <div class="entrance-frame">
      <a href="/" class="logotype entrance-logotype">
        <img class="logotype-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Altel">
      </a>
      
      <h1 class="entrance-title">
        Регистрация
      </h1>

      <form>
        <fieldset>
          <div class="input-line">
            <label for="">Ваше имя</label>
            <input class="input-d1" type="text">
          </div>
          <div class="input-line">
            <label for="">Ваш e-mail</label>
            <input class="input-d1" type="text">
          </div>
          <div class="input-line">
            <label for="">Выберите пароль</label>
            <input class="input-d1" type="password">
          </div>
          <div class="input-line text-center">
            <a href="/dashboard" class="button middle">Зарегистрироваться</a>
          </div>
          <p class="footnotes text-center">
            <a href="#">By signing up you agree to the terms of service</a>
          </p>
        </fieldset>
      </form>
    </div>

    <div class="entrance-alternative-path">
      <p>Уже зарегистрировались? <a href="/entrance">Войдите!</a></p>
    </div>

  </div>
{% endblock %}