{% block content %}
  
  <div class="d1-3">
  </div><div class="d1-3 entrance">
    <h2 class="entrance-heading">
      Вход <sup><a href="#">Регистрация</a></sup>
    </h2>
    <form>
      <fieldset>
        <div class="input-line">
          <label for="">E-mail</label>
          <input class="input-d1" type="text">
        </div>
        <div class="input-line">
          <label for="">Password</label>
          <input class="input-d1" type="password">
        </div>
        <div class="input-line">
          <div class="d1-2 middle">
            <a href="#">Забыли пароль?</a>
          </div><div class="d1-2 middle text-right">
            <a href="/dashboard" class="button middle">Войти</a>
          </div>
          
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}