
{% block content %}
<ul class="breadcrumbs">
  <li class="breadcrumbs-item">
    <a class="breadcrumbs-item-link" href="/" title="Главная">Главная</a>
  </li>
  <li class="breadcrumbs-item">
    <a class="breadcrumbs-item-link" href="/services/" title="Поддержка">Поддержка</a>
  </li>
  <li class="breadcrumbs-item">Обратная связь</li>
</ul>

<div class="d1-6 l1-6 m1">
</div><div class="d2-3 l5-6 m1">
  <div class="box box--common">
    <div class="box-content">

      <h2>Обращение к службе поддержки</h2>

      <p>Здравствуйте!</p>

      <p>
        Мы рады видеть Вас в числе наших абонентов! Заполнив данную форму, Вы сможете получить консультацию на любой интересующий Вас вопрос, касающийся услуг нашей Компании.
      </p>

      <form action="#" class="readable">
        <h3>Вопрос по LTE</h3>
        <div class="input-line">
          <div><strong>Персональные данные</strong></div>
          <div class="d1-2">
            <label for="">Имя</label>
            <input type="text" class="input-d1" />
          </div><div class="d1-2 gutter-left">
            <label for="">Фамилия</label>
            <input type="text" class="input-d1" />
          </div>
        </div>

        <div class="input-line">
          <label for="">Абонентский номер</label>
          <input type="text" class="input-d1" />
        </div>

        <div class="input-line">
          <label for="">Модель аппарата
          </label>
          <input type="text" class="input-d1" />
        </div>

        <div class="input-line">
          <div><strong>Описание проблемы</strong></div>

          <label class="label-checkbox">
            <input type="radio" />
            Проблемы со скоростью
          </label>
          <div class="d1-2">
            <label for="">Скорость (speedtest)</label>
            <input type="text" class="input-d1" />
          </div><div class="d1-2 gutter-left">
            <label for="">Комментарий</label>
            <input type="text" class="input-d1" />
          </div>

        </div>

        <div class="input-line">
          <label class="label-checkbox">
            <input type="radio" />
            Покрытие
          </label>
        </div>

        <div class="input-line">
          <label class="label-checkbox">
            <input type="radio" />
            Обрывы: когда наблюдается проблема, с какой периодичностью происходят обрывы.
          </label>
          <input type="text" class="input-d1" />
        </div>

        <div class="input-line">
          <label for="" class="label-checkbox">
            <input type="radio" />
            Проблема с подключением
          </label>

          <div class="d1-2">
            <label for="">Индикатор на модеме</label>
            <input type="text" class="input-d1" />
          </div><div class="d1-2 gutter-left">
            <label for="">Комментарий</label>
            <input type="text" class="input-d1" />
          </div>
        </div>

        <div class="input-line">
          <div><strong>Точное местонахождение при возникновении проблем со связью</strong></div>

          <div class="d1-2">
            <label for="">Город</label>
            <div class="select-container">
              <select name="" id="">
                <option value="">Almaty</option>
                <option value="">etc.</option>
              </select>
            </div>
          </div><div class="d1-2 gutter-left">
            <label for="">Дом</label>
            <input type="text" class="input-d1" />
          </div>
        </div>

        <div class="input-line">
          <label for="">Наблюдалась ли проблема и по другому адресу?
          </label>
          <input type="text" class="input-d1" />
        </div>

        <div class="input-line">
          <div><strong>Проблемы со связью возникают...</strong></div>

          <label class="label-checkbox">
            <input type="radio" />
            На открытом месте
          </label>
          <label class="label-checkbox">
            <input type="radio" />
            Внутри здания
          </label>
        </div>


        <div class="input-line">
          <div><strong>Присутствует ли индикатор антенны?</strong></div>
          <label class="label-checkbox">
            <input type="radio" />
            Полный уровень
          </label>
          <label class="label-checkbox">
            <input type="radio" />
            Низкий уровень
          </label>
          <label class="label-checkbox">
            <input type="radio" />
            Пропадает при нахождении в помещении
          </label>
          <label class="label-checkbox">
            <input type="radio" />
            Отсутствует
          </label>
        </div>

        <div class="input-line">
          <div><strong>Имеется ли дополнительная антенна?</strong></div>

          <label for="">Если имеется, где установлена и в какую сторону направлена?</label>
          <input type="text" class="input-d1" />

        </div>

        <div class="input-line">
          <div><strong>Периодичность проблемы</strong></div>

          <label class="label-checkbox">
            <input type="radio" />
            Единичный случай
          </label>
          <label class="label-checkbox">
            <input type="radio" />
            Временно
          </label>
          <label class="label-checkbox">
            <input type="radio" />
            Постоянно
          </label>
          <label class="label-checkbox">
            Другое
          </label>
          <input type="text" class="input-d1" />
        </div>

        <div class="input-line">
          <label for="" >Контактный номер телефона (городской номер или номер другого оператора), по которому с Вами можно будет связаться:</label>
          <input type="text" class="input-d1" />
        </div>

        <div class="input-line text-center">
          <a href="/support/" class="u-link">Отменить</a>
          <span class="space">·</span>
          <button type="submit">Отправить</button>
        </div>

      </div>

    </form>

  </div>
</div>
{% endblock %}
