
{% block content %}
<ul class="breadcrumbs">
  <li class="breadcrumbs-item">
    <a class="breadcrumbs-item-link" href="/" title="Главная">Главная</a>
  </li>
  <li class="breadcrumbs-item">
    <a class="breadcrumbs-item-link" href="/services/" title="Поддержка">Поддержка</a>
  </li>
  <li class="breadcrumbs-item">Обратная связь</li>
</ul>

<div class="d1-6 l1-6 m1">
</div><div class="d2-3 l5-6 m1">
  <div class="box box--common">
    <div class="box-content">

      <h2>Обращение к службе поддержки</h2>

      <p>Здравствуйте!</p>

      <p>
        Мы рады видеть Вас в числе наших абонентов! Заполнив данную форму, Вы сможете получить консультацию на любой интересующий Вас вопрос, касающийся услуг нашей Компании.
      </p>

      <div class="text-center">

        <p><strong>Выберите тип используемой связи:</strong></p>

        <div class="d1-3 m1-2">
          <a href="/feedback-gsm" class="box ratio-box animated-box">
            <div class="box-background"></div>
            <div class="box-content box-icon-site-plans">GSM</div>
          </a>
        </div><div class="d1-3 m1-2">
          <a href="/feedback-lte" class="box ratio-box animated-box">
            <div class="box-background"></div>
            <div class="box-content box-icon-site-internet">LTE</div>
          </a>
        </div>

      </div>

    </div>
  </div>
</div>
{% endblock %}
