{% model "slides.json" %}

{% block content %}

<div class="d1">
  <div class="box ratio-box ratio-3-1 m-ratio-4-3 s-ratio-1">
    <div id="carousel" data-ride="carousel" class="box-content">
      <div class="slider-container">
        <div class="slides">
          {% for slide in model.slides %}
            {% if slide.type == "center" %}
              {% include "carousel-item-center" with slide %}
            {% elsif slide.type == "left" %}
              {% include "carousel-item-left" with slide %}
            {% elsif slide.type == "right" %}
              {% include "carousel-item-right" with slide %}
            {% elsif slide.type == "style-b" %}
              {% include "carousel-item-left" with slide %}
            {% endif %}
          {% endfor %}
        </div>
        <ul class="slide-indicators">
        {% for slide in model.slides %}<li class="{% if slide.default %}active{% endif %}" data-target="#carousel" data-slide-to="{{ forloop.index0 }}">
            <span class="s-circle"></span>
          </li>{% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="d1-3 m1-2 s1">
  <div class="d1-2">
    <a href="/site-special-list" class="box ratio-box animated-box">
      <div class="box-background"></div>
      <div class="box-content box-icon-dashboard-bonus">Акции и скидки</div>
    </a>
  </div><div class="d1-2">
    <a href="#" class="box ratio-box animated-box">
      <div class="box-background"></div>
      <div class="box-content box-icon-site-roaming">Роуминг</div>
    </a>
  </div>
  <div class="d1">
    <a href="/site-internet" class="box ratio-box animated-box ratio-2-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-site-internet">Интернет 4G</div>
    </a>
  </div>
</div><div class="d1-3 m1-2 s1">
  <a href="/site-devices" class="box ratio-box animated-box s-ratio-2-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-business-devices">Устройства</div>
  </a>
</div><div class="d1-3 m1">
  <div class="d1-2">
    <a href="/site-choose-coverage" class="box ratio-box animated-box ratio-1-2 m-ratio-2-1 s-ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-sup-coverage">
        Карта покрытия
      </div>
    </a>
  </div><div class="d1-2">
    <a href="/site-migration" class="box ratio-box animated-box ratio-1-2 m-ratio-2-1 s-ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-site-migration">Миграция с CDMA</div>
    </a>
  </div>
</div>

{% endblock %}
