{% block content %}

<div class="d1">
  <div class="box ratio-box ratio-3-1 m-ratio-4-3">
    <div id="carousel" data-ride="carousel" class="box-content">
      <div class="slider-container">
        <div class="slides">
          <div id="slide-1" class="item active">
            <div class="slide-visual">
              <img src="/public/images/slides/image-3.png" alt="Slide">
            </div>
            <div class="slide-product">
              <img src="/public/images/slides/product.png" alt="Product">
            </div>
            <div class="slide-message">
              <h1 class="slide-heading">
                Самый<br>быстрый
                <span class="extra">
                  4G-интернет для<br>твоего Instagram
                </span>
              </h1>
              <div class="slide-cta">
                <a href="/site-plans" class="cta-button">Выбрать тариф</a>
              </div>
            </div>
          </div>
          
          <div id="slide-2" class="item">
            <div class="slide-visual">
              <img src="/public/images/slides/image-2.png" alt="Slide">
            </div>
            <div class="slide-product">
              <img src="/public/images/slides/product.png" alt="Product">
            </div>
            <div class="slide-message">
              <h1 class="slide-heading">
                Another<br>epic
                <span class="extra">
                  4G-headline<br>for your phone
                </span>
              </h1>
              <div class="slide-cta">
                <a href="/site-plans" class="cta-button">Call to action!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d1-3 m1-2">
  <div class="d1-2">
    <a href="/site-payment" class="box ratio-box animated-box">
      <div class="box-background"></div>
      <div class="box-content box-icon-redeem">Оплата</div>
    </a>
  </div><div class="d1-2">
    <a href="#" class="box ratio-box animated-box">
      <div class="box-background"></div>
      <div class="box-content box-icon-global-coverage">Роуминг</div>
    </a>
  </div>
  <div class="d1">
    <a href="/site-internet" class="box ratio-box animated-box ratio-2-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-internet">Интернет 4G</div>
    </a>
  </div>
</div><div class="d1-3 m1-2">
  <a href="/site-plans" class="box ratio-box animated-box">
    <div class="box-background"></div>
    <div class="box-content box-icon-plans">Тарифы</div>
  </a>
</div><div class="d1-3 m1">
  <div class="d1-2">
    <a href="#" class="box ratio-box animated-box ratio-1-2 m-ratio-2-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-migration">Миграция с CDMA</div>
    </a>
  </div><div class="d1-2">
    <a href="/dashboard" class="box ratio-box animated-box ratio-1-2 m-ratio-2-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-dashboard">
        Личный кабинет
      </div>
    </a>
  </div>
</div>

{% endblock %}