{% block content %}
  {% include "dashboard-navigation" %}

  <div class="d1 gutter">
    <h2 class="page-title">
      История платежей
    </h2>
    <form>
      <div class="input-line">
        <div class="d1-3 middle">
          <a href="#">За весь период</a>
          <span class="space"></span>
          <a href="#" class="active-link">Последние три месяца</a>
        </div><div class="d2-3 middle">
          <span class="middle">с</span> 
          <select class="history-select" name="" id=""></select>
          <select class="history-select" name="" id=""></select>
          <span class="middle">по</span>
          <select class="history-select" name="" id=""></select>
          <select class="history-select" name="" id=""></select>
          <a class="middle" href="#">показать</a>
        </div>
      </div>
    </form>
  </div>

  <div class="d1-4 gutter">
      <ul class="payment-history">
        <li class="split payment-history-header">
          <span class="split-title">Время</span></span>
          сумма (тенге)
        </li>
        <li class="history-period">
          Январь 2014
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="history-period">
          Month, year
        </li>
        <li class="split">
          <span class="split-title">Date / <span class="hms-time">time</span>
          </span>
          payment-amount
        </li>
        <li class="history-period">
          Month, year
        </li>
        <li class="split">
          <span class="split-title">Date / <span class="hms-time">time</span>
          </span>
          payment-amount
        </li>
      </ul>
    </div><div class="d1-4 gutter">
      <ul class="payment-history">
        <li class="split payment-history-header">
          <span class="split-title">Время</span></span>
          сумма (тенге)
        </li>
        <li class="history-period">
          Январь 2014
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="history-period">
          Month, year
        </li>
        <li class="split">
          <span class="split-title">Date / <span class="hms-time">time</span>
          </span>
          payment-amount
        </li>
        <li class="history-period">
          Month, year
        </li>
        <li class="split">
          <span class="split-title">Date / <span class="hms-time">time</span>
          </span>
          payment-amount
        </li>
      </ul>
    </div><div class="d1-4 gutter">
      <ul class="payment-history">
        <li class="split payment-history-header">
          <span class="split-title">Время</span></span>
          сумма (тенге)
        </li>
        <li class="history-period">
          Январь 2014
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="split">
          <span class="split-title">01.01.2014 / <span class="hms-time">16:16:16</span></span>
          899
        </li>
        <li class="history-period">
          Month, year
        </li>
        <li class="split">
          <span class="split-title">Date / <span class="hms-time">time</span>
          </span>
          payment-amount
        </li>
        <li class="history-period">
          Month, year
        </li>
        <li class="split">
          <span class="split-title">Date / <span class="hms-time">time</span>
          </span>
          payment-amount
        </li>
      </ul>
    </div>

{% endblock %}