{% block content %}
  {% include "dashboard-navigation" %}

  <div class="d1-3">
  </div><div class="d1-3">
    <h2 class="entrance-heading">
      Settings
    </h2>
    <form>
      <fieldset>
        <div class="input-line">
          <label for="">Some field</label>
          <input class="input-d1" type="text">
        </div>
        <div class="input-line">
          <label for="">Some field</label>
          <input class="input-d1" type="text">
        </div>
        <div class="input-line text-center">
          
            <a href="#" class="button middle">Save</a>
          
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}