
{% block content %}
<div class="box">
  <div class="box-content epic-plan">
    <div class="epic-plan-visual-container">
      <div class="epic-plan-visual" style="background-image: url({{ 'plan-10.jpg' | asset_url }});">
        <div class="epic-plan-visual-hover" style="background-image: url({{ 'plan-10-hover.jpg' | asset_url }});"></div>
        <div class="planbox-icon">
          <h2 class="plan-title">Роуминг</h2>
          <div class="d1 text-center">
            <img class="epic-plan-graphics box-icon-site-roaming" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Service name">
          </div>
        </div>
      </div>
    </div>
    <div class="plan-benefits readable">
    <h2>Условия предоставления</h2>
    <p>Для первоначального подключения услуги необходимо:</p>
    <ul>
    <li>для физических лиц — обратиться в Центр продаж и обслуживания компании Алтел, и заполнить заявление, установленного <a href="#">образца</a>. При себе необходимо иметь удостоверение личности;</li>
    <li>для юридических лиц — предоставить письмо на фирменном бланке организации, заверенное подписью уполномоченного лица и печатью организации.</li>
    <li>Звонить и принимать звонки Вы можете, когда на Вашем счете более 3000 тенге. При балансе менее 3000 тенге услуга не оказывается.</li>
    </ul>
    <h2>ВАЖНО ЗНАТЬ!</h2>
    <ul>
    <li>В связи с отсутствием технической возможности тарификации в режиме реального времени при оффлайн роуминге, на балансе номера может образоваться задолженность. Списание средств в роуминге производится с задержкой до 30 дней.</li>
    <li>Неконтролируемое и большое потребление GPRS в роуминге может повлечь высокие расходы. Не забудьте проверить GPRS настройки телефона. Все новые смартфоны поддерживают постоянное обновление приложений через интернет. В случае необходимости отключите, пожалуйста, данные обновления.</li>
    <li>Для исключения несанкционированной активации услуги Роуминг при нахождении на приграничной территории (вблизи государственной границы), Компания рекомендует в настройках абонентского устройства вручную устанавливать оператора сотовой связи. В противном случае, Ваше абонентское устройство может оказаться в сети иностранного оператора связи, при условии что у абонента подключена услуга международного-роуминга.</li>
    </ul>
    <h3>Правила набора в роуминге</h3>
    <table class="plan-table">
  <tbody>
    <tr> <td>
        на Altel
       </td> <td>
        +7 700 ХХХ ХХ ХХ, +7 708 ХХХ ХХ ХХ,
       </td> </tr>

    <tr> <td>
        на городские телефоны Казахстана:
       </td> <td>
        +7 [код города][номер телефона]
       </td> </tr>

    <tr> <td>
        на городские телефоны других стран и страны пребывания:
       </td> <td>
        +[код страны][код города][ номер телефона]
       </td> </tr>

    <tr> <td>
        на сотовые телефоны любых других операторов:
       </td> <td>
        +[код страны][код оператора][номер телефона]
       </td> </tr>
   </tbody>
 </table>
    <h3>Как пополнить баланс в роуминге?</h3>
    <ul>
    <li>Пополнить баланс в роуминге можно через личный кабинет</li>
    <li>Также можно воспользоваться картами мгновенной оплаты, которые необходимо приобрести заранее</li>
    <li>С помощью своей банковской карты через сервисы интернет банкинга</li>
    </ul>
    <h3>Как зарегистрироваться в сети оператора/сменить оператора?</h3>
    <ul>
    <li>По приезду в другую страну перезагрузите (выключите, а потом включите телефон) Ваш мобильный телефон, и он автоматически выберет доступную сеть.</li>
    <li>Если Ваш телефон автоматически не выбрал оператора или Вы хотите выбрать другого оператора самостоятельно, Вам необходимо выбрать его вручную через функцию «Сети» в меню Вашего мобильного телефона. Подробная информация о смене оператора вручную приведена в инструкциях к Вашему мобильному телефону.</li>
    <li>Рекомендуем в настройках Вашего телефона выбрать тип сети стандарта 2G или двойной стандарт сетей (2G+3G/UMTS), далее перезагрузить (выключить и включить) телефон и вручную выбрать сеть роуминг-партнера, предварительно отключив автовыбор сети оператора. Наличие двойного стандарта сетей в настройках телефона позволит полноценно и бесперебойно пользоваться услугами в роуминге.</li>
    </ul>
    <h2>Что нужно сделать перед отъездом?</h2>
    <ol>
    <li>Уточните предоставляется ли услуга роуминг в стране, в которую Вы выезжаете</li>
    <li>К какой тарифной зоне роуминга относится страна, которую Вы планируете посетить</li>
    <li>Открыто ли это направление и какие сервисы доступны в планируемой стране посещения</li>
    <li>Подключите услугу роуминг</li>
    <li>Ознакомьтесь с тарифами в роуминге до выезда за границу! (эту информацию Вы можете уточнить у операторов Call-Center.</li>
    </ol>
    <h3>Зона 1 (СНГ)</h3>
    <p class="caption">Азербайджан, Армения, Беларусь, Грузия, Киргизия, Россия, Таджикистан, Туркменистан, Узбекистан, Украина</p>
    <h3>Зона 2 (Европа)</h3>
    <p class="caption">Австрия, Албания, Бельгия, Болгария, Босния и Герцеговина, Великобритания, Венгрия, Германия, Греция, Дания, Ирландия, Исландия, Испания, Италия, Латвия, Литва, Лихтенштейн, Люксембург, Македония, Монако, Нидерланды, Норвегия, Польша, Португалия, Румыния, Сербия, Словакия, Словения, Финляндия, Франция, Хорватия, Черногория, Чехия, Швейцария, Швеция, Эстония</p>
    <h3>Зона 3 (Азия и Океания)</h3>
    <p class="caption">Австралия, Афганистан, Бангладеш, Бахрейн, Вьетнам, Гонконг, Египет, Израиль, Индия, Индонезия, Иран, Йемен, Камбоджа, Катар, Кипр, Северный Кипр, Китай, Корея, Кувейт, Ливан, Макао, Малайзия, Мальдивы, Мальта, Марианские острова, Монголия, Непал, Новая Зеландия, ОАЭ, Оман, Пакистан, Палестина, Саудовская Аравия, Сингапур, Сирия, Тайвань, Тайланд, Турция, Фиджи, Филиппины, Шри-Ланка, Япония</p>
    <h3>Зона 4 (Остальной мир)</h3>
    <p class="caption">Алжир, Ангилья, Ангола, Антигуа и Барбуда, Аргентина, Аруба, Барбадос, Бурунди, Бермуды, Боливия, Бразилия, Британские Виргинские Острова, Гаити, Гамбия, Гайана, Гана, Гваделупа, Гватемала, Гвинея, Гондурас, Гренада, Гуам, Дезирад, Джибути Республика, Доминика, Доминиканская Республика, Зимбабве, Иордания, Ирак, Кабо-Верде, Каймановы Острова, Канада, Кения, Конго, Кот Д`Ивуар, Куба, Куракао, Ле-Сент (Остров Всех Святых), Либерия , Маврикий, Мадагаскар, Мари-Галант , Марокко, Мартиника, Мексика, Монсеррат Остров, Нигерия, Нидерландские Антильские острова, Никарагуа, Острова Кука, Остров Родригес, Панама, Папуа Новая Гвинея, Перу, Сальвадор, Самоа, Сейшельские острова, Сенегал, Сент-Бартельми, Сент. Винсент и Гренадины, Сент. Китс и Невис, Сент-Люсия, Сент-Мартин, Судан, Суринам, Сьерра Леоне, США, Танзания, Теркс и Кайкос Острова, Тринидад и Тобаго, Того, Тонга, Тунис, Уганда Республика, Уругвай, Фарерские острова, Французская Гвиана, Чад (Республика), Чили, Центральноафриканская Республика, Эквадор, Экваториальная Гвинея, Южная Африка, Ямайка</p>
  </div>
  <h2>Тарифы</h2>
  <table class="plan-table plan-table--alternate rwd-table">
    <tbody>
      <tr> <th rowspan="2" colspan="2">
      Тарифная зона
    </th> <th>
      Входящий звонок
    </th> <th colspan="3">
      Исходящий звонок*
    </th> <th rowspan="2">
      SMS
    </th> <th rowspan="2">
      GPRS
    </th> </tr>

  <tr> <td>
     </td> <td>
      в стране пребывания
     </td> <td>
      в Казахстан
     </td> <td>
      международные направления
     </td> </tr>

  <tr> <th colspan="2">
      округление
    </th> <td>
      60 сек
     </td> <td>
      60 сек
     </td> <td>
      60 сек
     </td> <td>
     </td> <td>
      1 шт
     </td> <td>
      10 Кб
     </td> </tr>

  <tr> <td>
      1
     </td> <td>
      СНГ
     </td> <td>
      <strong>1,35 $</strong>
     </td> <td>
      <strong>0,94 $</strong>
     </td> <td>
      <strong>0,43$</strong>
     </td> <td>
      <strong>1,80 $</strong>
     </td> <td>
      <strong>0,10 $</strong>
     </td> <td>
      <strong>12,50 $</strong>
     </td> </tr>

  <tr> <td>
      2
     </td> <td>
      Европа
     </td> <td>
      <strong>2,50 $</strong>
     </td> <td>
      <strong>1,00 $</strong>
     </td> <td>
      <strong>3,00 $</strong>
     </td> <td>
      <strong>2,00 $</strong>
     </td> <td>
      <strong>0,30 $</strong>
     </td> <td>
      <strong>13,70 $</strong>
     </td> </tr>

  <tr> <td>
      3
     </td> <td>
      Азия
     </td> <td>
      <strong>4,00 $</strong>
     </td> <td>
      <strong>0,80 $</strong>
     </td> <td>
      <strong>3,15 $</strong>
     </td> <td>
      <strong>3,00 $</strong>
     </td> <td>
      <strong>0,35 $</strong>
     </td> <td>
      <strong>14,50 $</strong>
     </td> </tr>

  <tr> <td>
      4
     </td> <td>
      Остальной мир
     </td> <td>
      <strong>4,15 $</strong>
     </td> <td>
      <strong>0,30 $</strong>
     </td> <td>
      <strong>1,70 $</strong>
     </td> <td>
      <strong>1,00 $</strong>
     </td> <td>
      <strong>0,15 $</strong>
     </td> <td>
      <strong>6,50 $</strong>
     </td> </tr>
 </tbody>
</table>
  <p class="readable caption">
    * Все цены указаны в долларах США, включая НДС за 1 минуту, цены на дату получения услуг могут меняться в зависимости от изменения курса валют. Все расчеты между компанией и абонентами производятся в тенге. За дополнительной информацией просьба обращаться в Центры продаж и обслуживания Алтел.
  </p>
    <div class="box-footer plan-cta-container">
      <a href="https://cabinet.altel4g.kz/" class="u-link">Мой алтел</a>
    </div>
  </div>
</div>
{% endblock %}
