
{% block content %}
<ul class="breadcrumbs">
  <li class="breadcrumbs-item">
    <a class="breadcrumbs-item-link" href="/" title="Главная">Главная</a>
  </li>
  <li class="breadcrumbs-item">
    <a class="breadcrumbs-item-link" href="/services/" title="Услуги">Услуги</a>
  </li>
  <li class="breadcrumbs-item">Роуминг</li>
</ul>
<div class="d1-6 l1-6 m1">
  <section class="side-navigation-meta">
    <h1 class="page-title"></h1>
    <ul class="side-navigation"></ul>
  </section>
</div>

<div class="d2-3 l5-6 m1">
  <div class="box">
    <div class="box-content epic-plan">
      <div class="epic-plan-visual-container">
        <div class="epic-plan-visual" style="background-image: url({{ 'plan-10.jpg' | asset_url }});">
          <div class="epic-plan-visual-hover" style="background-image: url({{ 'plan-10-hover.jpg' | asset_url }});"></div>
          <div class="planbox-icon">
            <div class="center-this">
              <div class="this">
                <img class="epic-plan-graphics box-icon-site-roaming" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Service name">
              </div>
            </div>
            <h2 class="plan-title">Роуминг</h2>
          </div>
        </div>
      </div>
      <div class="plan-benefits readable">


        <ul class="acc-list text-left js-acc-list">
          <li>
            <a href="#" class="acc-list-item">Условия предоставления</a>
            <div class="acc-list-content">
              <p>Для первоначального подключения услуги необходимо:</p>
              <ul>
                <li>для физических лиц — обратиться в Центр продаж и обслуживания компании Алтел, и заполнить заявление, установленного <a href="#">образца</a>. При себе необходимо иметь удостоверение личности;</li>
                <li>для юридических лиц — предоставить письмо на фирменном бланке организации, заверенное подписью уполномоченного лица и печатью организации.</li>
                <li>Звонить и принимать звонки Вы можете, когда на Вашем счете более 3000 тенге. При балансе менее 3000 тенге услуга не оказывается.</li>
              </ul>
            </div>
          </li>

          <li>
            <a href="#" class="acc-list-item"><strong>Важно знать!</strong></a>
            <div class="acc-list-content">
              <ul>
                <li>В связи с отсутствием технической возможности тарификации в режиме реального времени при оффлайн роуминге, на балансе номера может образоваться задолженность. Списание средств в роуминге производится с задержкой до 30 дней.</li>
                <li>Неконтролируемое и большое потребление GPRS в роуминге может повлечь высокие расходы. Не забудьте проверить GPRS настройки телефона. Все новые смартфоны поддерживают постоянное обновление приложений через интернет. В случае необходимости
                  отключите, пожалуйста, данные обновления.</li>
                <li>Для исключения несанкционированной активации услуги Роуминг при нахождении на приграничной территории (вблизи государственной границы), Компания рекомендует в настройках абонентского устройства вручную устанавливать оператора сотовой связи.
                  В противном случае, Ваше абонентское устройство может оказаться в сети иностранного оператора связи, при условии что у абонента подключена услуга международного-роуминга.</li>
              </ul>
            </div>
          </li>

          <li>
            <a href="#" class="acc-list-item">Условия предоставления</a>
            <div class="acc-list-content">
              <table class="cta-table">
                <tbody>
                  <tr>
                    <td>
                      на Altel
                    </td>
                    <td>
                      +7 700 ХХХ ХХ ХХ, +7 708 ХХХ ХХ ХХ,
                    </td>
                  </tr>

                  <tr>
                    <td>
                      на городские телефоны Казахстана:
                    </td>
                    <td>
                      +7 [код города][номер телефона]
                    </td>
                  </tr>

                  <tr>
                    <td>
                      на городские телефоны других стран и страны пребывания:
                    </td>
                    <td>
                      +[код страны][код города][ номер телефона]
                    </td>
                  </tr>

                  <tr>
                    <td>
                      на сотовые телефоны любых других операторов:
                    </td>
                    <td>
                      +[код страны][код оператора][номер телефона]
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>

          <li>
            <a href="#" class="acc-list-item">Как пополнить баланс в роуминге?</a>
            <div class="acc-list-content">
              <ul>
                <li>Пополнить баланс в роуминге можно через личный кабинет</li>
                <li>Также можно воспользоваться картами мгновенной оплаты, которые необходимо приобрести заранее</li>
                <li>С помощью своей банковской карты через сервисы интернет банкинга</li>
              </ul>
            </div>
          </li>

          <li>
            <a href="#" class="acc-list-item">Как зарегистрироваться в сети оператора/сменить оператора?</a>
            <div class="acc-list-content">
              <ul>
                <li>По приезду в другую страну перезагрузите (выключите, а потом включите телефон) Ваш мобильный телефон, и он автоматически выберет доступную сеть.</li>
                <li>Если Ваш телефон автоматически не выбрал оператора или Вы хотите выбрать другого оператора самостоятельно, Вам необходимо выбрать его вручную через функцию «Сети» в меню Вашего мобильного телефона. Подробная информация о смене оператора
                  вручную приведена в инструкциях к Вашему мобильному телефону.</li>
                <li>Рекомендуем в настройках Вашего телефона выбрать тип сети стандарта 2G или двойной стандарт сетей (2G+3G/UMTS), далее перезагрузить (выключить и включить) телефон и вручную выбрать сеть роуминг-партнера, предварительно отключив автовыбор
                  сети оператора. Наличие двойного стандарта сетей в настройках телефона позволит полноценно и бесперебойно пользоваться услугами в роуминге.</li>
              </ul>
            </div>
          </li>

          <li>
            <a href="#" class="acc-list-item">Что нужно сделать перед отъездом?</a>
            <div class="acc-list-content">
              <ol>
                <li>Уточните предоставляется ли услуга роуминг в стране, в которую Вы выезжаете</li>
                <li>К какой тарифной зоне роуминга относится страна, которую Вы планируете посетить</li>
                <li>Открыто ли это направление и какие сервисы доступны в планируемой стране посещения</li>
                <li>Подключите услугу роуминг</li>
                <li>Ознакомьтесь с тарифами в роуминге до выезда за границу! (эту информацию Вы можете уточнить у операторов Call-Center.</li>
              </ol>
            </div>
          </li>

          <li>
            <a href="#" class="acc-list-item active"><strong>Тарифы</strong></a>
            <div class="acc-list-content">

              <div class="input-line">
                <input id="js-country" class="input-d1" type="text" placeholder="Введите название страны" autocomplete="off" />
                <p class="caption">Например: <a href="#" class="js-fill-input">Турция</a></p>
              </div>

              <div class="input-line">
                <ul class="block-list">
                  <li>
                    <div class="input-line split">
                      <div class="split-title"><strong>Входящий звонок</strong> (1 мин)</div>
                      <span id="js-call-in" class="js-cleanup"></span>
                    </div>
                  </li>

                  <li>
                    <div class="input-line">
                      <div><strong>Исходящие звоноки</strong> (1 мин)</div>
                      <ul class="block-list">
                        <li>
                          <div class="split">
                            <div class="split-title">В стране пребывания</div>
                            <span id="js-call-out-current" class="js-cleanup"></span>
                          </div>
                        </li>
                        <li>
                          <div class="split">
                            <div class="split-title">В Казахстан</div>
                            <span id="js-call-out-kz" class="js-cleanup"></span>
                          </div>
                        </li>
                        <li>
                          <div class="split">
                            <div class="split-title">Международные направления</div>
                            <span id="js-call-out-world" class="js-cleanup"></span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>

                  <li>
                    <div class="input-line split">
                      <div class="split-title"><strong>Сообщения</strong> (за 1 шт.)</div>
                      <span id="js-msg" class="js-cleanup"></span>
                    </div>
                  </li>

                  <li>
                    <div class="input-line split">
                      <div class="split-title"><strong>Мобильный интернет, GPRS</strong> (за 10 Кб)</div>
                      <span id="js-gprs" class="js-cleanup"></span>
                    </div>
                  </li>
                </ul>
              </div>

            </div>
          </li>

          <li>
            <a href="#" class="acc-list-item">Даже когда Вы далеко, мы рядом</a>
            <div class="acc-list-content">
              <p>Если у вас возник вопрос по роумингу, вы можете задать его Роуминг-консультанту, даже находясь за рубежом &mdash; пишите по адресу <a href="mailto:roaming@altel.kz">roaming@altel.kz</a>, указав номер телефона, которым пользуетесь/планируете
                пользоваться в роуминге. Вам будет предоставлен ответ в течение одного рабочего дня.</p>
            </div>
          </li>

          <li>
            <a href="#" class="acc-list-item">Правила набора в роуминге</a>
            <div class="acc-list-content">
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
{{ 'typeahead.bundle.js' | asset_url | script_tag }}
<script type="text/json" id="js-country-data">
  {
    "g": {
      "group1": {
        "call-in": "01 $",
        "call-out-current": "02 $",
        "call-out-kz": "03 $",
        "call-out-world": "04 $",
        "msg": "05 $",
        "gprs": "06 $"
      }
    },
    "c": {
      "Турция": "group1"
    }
  }
</script>
<script type="text/javascript">
  (function($, bloodhound, window, document, undefined) {
    var $countryInput = $('#js-country'),
      fillLink = '.js-fill-country',
      data = JSON.parse($('#js-country-data').text()),
      countriesData = Object.keys(data.c);

    var populatePriceInfo = function(e) {
      var countryString = $(e.target).typeahead('val');
      if (data.c[countryString]) {
        var g = data.g[data.c[countryString]];

        $.each(g, function(key, value) {
          $('#js-'+key).text(value);
        });
      } else {
        $('.js-cleanup').text('');
      }
    }

    var insertCountry = function(e) {
      e.preventDefault();
      $countryInput.val($(e.target).text()).trigger('input');
    }

    // constructs the suggestion engine
    var countries = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      // `states` is an array of state names defined in "The Basics"
      local: $.map(countriesData, function(country) {
        return {
          value: country
        };
      })
    });

    // kicks off the loading/processing of `local` and `prefetch`
    countries.initialize();

    $('#js-country').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    }, {
      name: 'countries',
      displayKey: 'value',
      // `ttAdapter` wraps the suggestion engine in an adapter that
      // is compatible with the typeahead jQuery plugin
      source: countries.ttAdapter()
    });

    $(document).on('input typeahead:selected', '#js-country', populatePriceInfo);
    $(document).on('click', '.js-fill-input', insertCountry);


  })(jQuery, Bloodhound, window, document);
</script>
{% endblock %}
