{% block content %}

<div class="gutter">
    <h1 class="page-title">О компании</h1>
    <div class="d1-6 l1-6 m1">
        <nav class="mobile-side-navigation">
            <ul class="side-navigation">
                <li><a href="/site-chairman-blog" class="side-navigation-item">Блог Председателя Правления АО "АЛТЕЛ"</a>
                </li>
                <li><a href="/site-risk-mgmt" class="side-navigation-item">Управление рисками</a>
                </li>
                <li><a href="/site-technology-list" class="side-navigation-item">
        Технологии</a>
                </li>
            </ul>
        </nav>
        <ul class="side-navigation">
            <li><a href="/site-news" class="side-navigation-item">Новости</a>
            </li>
            <li><a href="/site-press" class="side-navigation-item">Пресс-центр</a>
            </li>
            <li><a href="/site-licenses" class="side-navigation-item">Лицензии</a>
            </li>
            <li><a href="/site-buying" class="side-navigation-item">Закупки</a>
            </li>
            <li><a href="/site-vacancies" class="side-navigation-item">Вакансии</a>
            </li>
            <li class="side-navigation-group-title"></li>
            <li><a href="/site-chairman-blog" class="side-navigation-item">Блог Председателя Правления АО "АЛТЕЛ"</a>
            </li>
            <li><a href="/site-risk-mgmt" class="side-navigation-item">Управление рисками</a>
            </li>
            <li><a href="/site-technology-list" class="side-navigation-item">
        Технологии</a>
            </li>
        </ul>
    </div><div class="d2-3 l5-6 m1">
        <div class="box box--common">
            <div class="box-content">
                <div class="d1-2 text-center gutter">
                    <a href="#">
                        {{ "skm_ru.png" | asset_url | image_tag }}
                    </a>
                </div><div class="d1-2 text-center gutter">
                    <a href="#">
                        {{ "ens_gif.gif" | asset_url | image_tag }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
