{% block content %}
<h1 class="gutter page-title">Популярные услуги</h1>
<div class="d1-2 m1">
  <a class="box ratio-box ratio-3-2" href="/services/detail.php?ID=129&amp;s=gsm">
    <div class="box-background"></div>
    <div class="box-content cover" style="background-image: url({{ 'change-your-number.png' | asset_url }});"></div>
  </a>
</div><div class="d1-4 m1">
  <a class="box ratio-box animated-box ratio-3-4 m-ratio-2-1" href="/services/detail.php?ID=128&amp;s=gsm">
    <div class="box-background"></div>
    <div class="box-content box-icon-tonix">TONiX</div>
  </a>
</div><div class="d1-4 m1">
  <div class="d1 m1-2">
    <a href="/services/detail.php?ID=127&amp;s=gsm" class="box ratio-box animated-box ratio-3-2 m-ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-site-roaming">Роуминг</div>
    </a>
  </div><div class="d1 m1-2">
    <a href="#" class="box ratio-box animated-box ratio-3-2 m-ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-site-roaming">Международные звонки</div>
    </a>
  </div>
</div>
<div class="vertical-space"></div>
<div class="d1-4 m1-2">
  <a href="/services/list.php?ID=106" class="box ratio-box animated-box ratio-1 m-ratio-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-old-phone">Управление звонками</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="/services/list.php?ID=105" class="box ratio-box animated-box ratio-1 m-ratio-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-settings-auto">Автонастройки</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="/services/detail.php?ID=130&amp;s=gsm" class="box ratio-box animated-box ratio-1 m-ratio-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-settings">Команды управления услугами</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="/services/list.php?ID=103" class="box ratio-box animated-box ratio-1 m-ratio-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-missed-call">Будь в курсе</div>
  </a>
</div>
{% endblock %}
