{% model "plans.json" %}

{% block content %}


  <h1 class="page-header gutter">Интернет 4G</h1>

  <div class="d1 l1-6 side-nav-container">
    <ul class="side-navigation">
      <!-- <li class="side-navigation-group-title">Интернет 4G</li> -->
      {% for plan in model.ltePlans %}
        <li><a href="{{ plan.url }}" class="side-navigation-item">{{ plan.name }}</a></li>
      {% endfor %}
    </ul>
  </div><div class="d1 l5-6">
    {% for plan in model.ltePlans %}<div class="d1 m1-3 l1-4">
      {% include "planbox-lte" with plan %}
    </div>{% endfor %}
  </div>

  <nav class="mobile-side-navigation">
    <h2><a href="/site-internet">Интернет 4G</a></h2>
    <ul class="side-navigation">
      {% for plan in model.ltePlans %}
        <li><a href="{{ plan.url }}" class="side-navigation-item">{{ plan.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>


{% endblock %}
