{% block content %}
  <div class="gutter">
    <h1 class="page-title">О компании</h1>
    <div class="d1-6 m1">
      <nav class="mobile-side-navigation">
        <ul class="side-navigation">
          <li><a href="/site-chairman-blog" class="side-navigation-item">Блог Председателя Правления АО "АЛТЕЛ"</a></li>
          <li><a href="/site-risk-mgmt" class="side-navigation-item">Управление рисками</a></li>
          <li><a href="/site-technology-list" class="side-navigation-item">
          Технологии</a></li>
        </ul>
      </nav>
      <ul class="side-navigation">
        <li><a href="/site-news" class="side-navigation-item">Новости</a></li>
        <li><a href="/site-press" class="side-navigation-item">Пресс-центр</a></li>
        <li><a href="/site-licenses" class="side-navigation-item">Лицензии</a></li>
        <li><a href="/site-buying" class="side-navigation-item">Закупки</a></li>
        <li><a href="/site-vacancies" class="side-navigation-item">Вакансии</a></li>
        <li class="side-navigation-group-title"></li>
        <li><a href="/site-chairman-blog" class="side-navigation-item">Блог Председателя Правления АО "АЛТЕЛ"</a></li>
          <li><a href="/site-risk-mgmt" class="side-navigation-item">Управление рисками</a></li>
          <li><a href="/site-technology-list" class="side-navigation-item">
          Технологии</a></li>
      </ul>
    </div><div class="d2-3 m1">
      <div class="box">
        <div class="box-content">
          <div class="fluffy readable">
            <section class="post-subtitle">
              <p>АО «АЛТЕЛ» &mdash; первый национальный оператор сотовой связи в Республике Казахстан.</p>
            </section>

            <p>Начиная с 1994 года АО «АЛТЕЛ» предоставлял своим Абонентам телекоммуникационные услуги в крупнейших городах Казахстана в аналоговом формате AMPS/NAMPS.</p>

            <p>C декабря 2003 года запущена в коммерческую эксплуатацию технология третьего поколения, предоставляющая услуги сотовой связи и беспроводного доступа в Интернет, &mdash; CDMA 2000-1Х.</p>

            <p>Стандарт CDMA доминирует на рынке беспроводной связи в Северной Америке, Юго-восточной Азии. Уже 5 лет Казахстан пополняет ряды стран, предоставляющих возможность пользоваться услугами сотовой связи третьего поколения.</p>

            <p><strong>На сегодняшний день АО «АЛТЕЛ» является первым и единственным в Казахстане оператором стандарта сотовой связи CDMA 2000-1Х.</strong></p>

            <blockquote>

            <p>«… И мы не собираемся останавливаться на достигнутых результатах. АО «АЛТЕЛ» будет прилагать все усилия для перехода казахстанской сотовой связи на более высокий качественный уровень»,</p>
            <cite>говорит президент АО «АЛТЕЛ» Максут Сауранбеков.</cite>

            </blockquote>

            <p>В настоящее время Компания «АЛТЕЛ» представлена на рынке пятью брендами:</p>

            <p>
            <strong>ALTEL4G</strong> &mdash; Технология LTE запущена в Казахстане под маркой «ALTEL4G» &mdash; это инновационный продукт, созданный на базе наиболее современной технологии передачи данных «4G LTE» и позволяющий создать для наших абонентов наиболее комфортные, понятные, простые и выгодные условия для использования высокоскоростного мобильного доступа к сети Интернет для бизнеса, развлечений, общения, обучения и полного спектра возможностей мировой сети. ALTEL4G это новый этап развития беспроводной связи. Технология LTE позволяет передавать данные со скоростью, в десятки раз превышающей скорость предыдущих технологий.
            </p>

            <p><strong>PAThWORD</strong> &mdash; (запущен в эксплуатацию 13 февраля 2004 г.) – связь для деловых людей, живущих динамичной и полной жизнью. Услуги предоставляются по принципу prepaid. При этом порядке расчетов Абонент может пользоваться услугами сотовой связи только после поступления на счет Оператора денежных средств, достаточных для оплаты услуг сотовой связи.</p>

            <p><strong>JET</strong> &mdash; это набор услуг, объединяющих в себе высокоскоростной мобильный доступ в Интернет, обеспечивающий подключение в любое время в любом месте покрытия сети оператора.</p>

            <p><strong>City</strong> &mdash; проект, выведенный на рынок Казахстана в декабре 2006 г., предоставляет своим Абонентам прямой городской номер на мобильном телефоне. Абоненты City могут совершать звонки на номера Dalacom/PAThWORD, номера других мобильных операторов, а так же на городские номера. Причем звонки на городские телефоны с номера City, и звонки с городских телефонов на номер City являются бесплатными! Привлекательность услуги заключается в том, что, оставаясь мобильным, можно экономить при звонках на городские номера. Услуги City предоставляются по принципу postpaid. При таком порядке расчетов Абонент может пользоваться услугами связи в кредит и оплачивает их в течение расчетного периода. Оператор сотовой связи ежемесячно выставляет Абоненту счет в соответствии с действующими тарифами.</p>

            <p><strong>Dalacom</strong> &mdash; (запущен в эксплуатацию 10 декабря 2003 г.) – связь для тех, кто ценит качество и комфорт. Услуги Dalacom предоставляются по принципу postpaid. При таком порядке расчетов Абонент может пользоваться услугами связи в кредит и оплачивает их в течение расчетного периода. Оператор сотовой связи ежемесячно выставляет Абоненту счет в соответствии с действующими тарифами.</p>

            <p>АО «АЛТЕЛ» развивает инфраструктуру сети в регионах присутствия, создает новые уникальные возможности для работы вне офиса, предлагая мобильные решения для развития бизнеса, общения и отдыха.</p>
          </div>
        </div>
      </div>
    </div>

    <nav class="mobile-side-navigation">
      <h2><a href="/site-about">О компании</a></h2>
      <ul class="side-navigation">
        <li><a href="/site-chairman-blog" class="side-navigation-item">Блог Председателя Правления АО "АЛТЕЛ"</a></li>
        <li><a href="/site-risk-mgmt" class="side-navigation-item">Управление рисками</a></li>
        <li><a href="/site-technology-list" class="side-navigation-item">
        Технологии</a></li>
      </ul>
    </nav>
  </div>
{% endblock %}
