{% block content %}
  <div class="gutter">
    <h1 class="page-title">Зона покрытия</h1>
    <div class="d1-6 m1">
      <ul class="side-navigation">
        <li><a href="#" class="side-navigation-item">Зона покрытия GSM</a></li>
        <li><a href="#" class="side-navigation-item">Зона покрытия LTE</a></li>
      </ul>
    </div><div class="d5-6 m1">
      <div class="d1-4 l1-3 m1-2">
        <a href="/site-support-coverage" class="box ratio-box animated-box m-ratio-4-3 s-ratio-1">
          <div class="box-background"></div>
          <div class="box-content box-icon-sup-coverage">Зона покрытия GSM</div>
        </a>
      </div><div class="d1-4 l1-3 m1-2">
        <a href="/site-support-coverage" class="box ratio-box animated-box m-ratio-4-3 s-ratio-1">
          <div class="box-background"></div>
          <div class="box-content box-icon-sup-coverage-lte">Зона покрытия LTE</div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
