{% block content %}

<div class="gutter">
  <h1 class="page-title">Сервис центры на карте</h1>
  <div class="d1-6 s1">
    <section class="side-navigation-meta">
      <a href="/site-support" class="back-button">Поддержка</a>
    </section>
    <ul class="side-navigation">
      <li><a href="/site-support-coverage" class="side-navigation-item">Зона покрытия</a></li>
      <li><a href="/site-support-feedback" class="side-navigation-item">Обратная связь</a></li>
      <li><a href="#" class="side-navigation-item">Онлайн консультант</a></li>
    </ul>
  </div><div class="d5-6 s1">

    <div class="d1-2 m1 fluffy middle">
      <img src="/public/images/kz.svg" alt="">
    </div><div class="d1-2 m1 middle">
      <ul>
        <li>мкр. Орбита 2, д.6 (ул.Навои, ниже пр. Аль-Фараби)</li>
        <li>ул. Кунаева, 115/105 (угол ул.Богенбай Батыра)</li>
        <li>ул. Толе би, 101, (уг. ул. Байтурсынова), БЦ "Далич"</li>
      </ul>
    </div>

  </div>
</div>

{% endblock %}
