{% block content %}

<div class="gutter">
  <h1 class="page-title">Вакансии</h1>
  <div class="d1-6 m1">
    <section class="side-navigation-meta">
      <a href="/site-about" class="back-button">О компании</a>
    </section>
    <ul class="side-navigation">
      <!-- <li class="side-navigation-group-title">О</li> -->
        <!-- <li><a href="/site-about" class="side-navigation-item">О компании</a></li> -->
        <li><a href="/site-news" class="side-navigation-item">Новости</a></li>
        <li><a href="/site-press" class="side-navigation-item">Пресс-центр</a></li>
        <li><a href="/site-licenses" class="side-navigation-item">Лицензии</a></li>
        <li><a href="/site-buying" class="side-navigation-item">Закупки</a></li>
        <!-- <li><a href="/site-vacancies" class="side-navigation-item">Вакансии</a></li> -->
        <li class="side-navigation-group-title"></li>
        <li><a href="/site-chairman-blog" class="side-navigation-item">Блог Председателя Правления АО "АЛТЕЛ"</a></li>
        <li><a href="/site-risk-mgmt" class="side-navigation-item">Управление рисками</a></li>
        <li><a href="/site-technology-list" class="side-navigation-item">
        Технологии</a></li>
    </ul>
  </div><div class="d2-3 m1">
    <div class="box">
      <div class="box-content">
        <article class="post-preview">
          <header class="post-header">
            <h2>Вакансия</h2>
            <section class="post-meta">
              date
            </section>
          </header>
          <section class="post-excerpt">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque vel consequatur ullam incidunt facilis velit porro sed nulla eveniet facere. Earum, architecto suscipit molestiae porro omnis voluptatem iusto mollitia voluptate.
            </p>
          </section>
          <footer class="post-links">
            <a class="button" href="{{ site-news-post-preview.url }}">Read more</a>
          </footer>
        </article>
      </div>
    </div>
  </div>
  <nav class="mobile-side-navigation">
    <h2><a href="/site-news">Вакансии</a></h2>
    <ul class="side-navigation">
      {% for group in model.groups %}
        <li><a href="#" class="side-navigation-item">{{ group.title }} ({{ group.news-quantity }})</a></li>
      {% endfor %}
      <li><a href="#" class="side-navigation-item">Архив</a></li>
    </ul>
  </nav>
</div>

{% endblock %}
