{% block content %}

<div class="gutter">
  <h1 class="page-title">Сервис центры на карте</h1>
  <div class="d1-6 s1">
    <section class="side-navigation-meta">
      <a href="/site-support" class="back-button">Поддержка</a>
    </section>
    <ul class="side-navigation">
      <li><a href="/site-support-coverage" class="side-navigation-item">Зона покрытия</a></li>
      <li><a href="/site-support-feedback" class="side-navigation-item">Обратная связь</a></li>
      <li><a href="#" class="side-navigation-item">Онлайн консультант</a></li>
    </ul>
  </div><div class="d5-6 s1">

    <div class="d1-2 m1 fluffy middle">
      <img src="/public/images/kz.svg" alt="">
  </div><div class="d1-2 m1">
  <div class="box">
    <div class="box-content">
      <ul class="acc-list js-acc-list" id="dealerholder"><li><a href="javascript:;" data-id="1" class="acc-list-item active-link active" onclick="put_city(this)">Алматы</a><div class="acc-list-content cities-dealers" style="display: block;"><ul class="list-unstyled">
          <li>мкр. Орбита 2,д.6 (Навои д .6 уг. пр. Аль-Фараби)
              <div class="timebound">
                  <div class="d1-2">
                      <strong>Пн &mdash; Пт</strong>
                      <div class="timebound-span">
                          C 9:00 до 20:00
                      </div>
                  </div><div class="d1-4">
                      <strong>Сб</strong>
                      <div class="timebound-span">
                          C 10:00 до 20:00
                      </div>
                  </div><div class="d1-4">
                      <strong>Вс</strong>
                      <div class="timebound-span">
                          С 10:00 до 18:00
                      </div>
                  </div>
              </div>
          </li>

          <li>ул. Толе би д.101 (Бизнес-центр «Далич»)
              <div class="timebound">
                  <div class="d1-2">
                      <strong>Пн &mdash; Пт</strong>
                      <div class="timebound-span">
                          C 9:00 до 20:00
                      </div>
                  </div><div class="d1-4">
                      <strong>Сб</strong>
                      <div class="timebound-span">
                          C 10:00 до 20:00
                      </div>
                  </div><div class="d1-4">
                      <strong>Вс</strong>
                      <div class="timebound-span">
                          С 10:00 до 18:00
                      </div>
                  </div>
              </div>
          </li><li>- ул. Кунаева, 105/115 (уг. ул. Богенбай батыра)</li><li>- ТЦ “Esentai Mall”, пр. Аль-Фараби, 77/8</li><li>- ТРЦ “Globus”, ул.Абая, 109, уг.ул.Ауэзова</li></ul></div></li><li><a href="javascript:;" data-id="2" class="acc-list-item" onclick="put_city(this)">Астана</a><div class="acc-list-content cities-dealers" style="display: none;"><ul class="list-unstyled"><li>- пр. Республики, 5</li><li>- ТРЦ «Хан шатыр», пр.Туран, 37, нулевой этаж.</li></ul></div></li><li><a href="javascript:;" data-id="3" class="acc-list-item" onclick="put_city(this)">Актау</a><div class="acc-list-content cities-dealers" style="display: none;"><ul class="list-unstyled"><li>- 9 мкр. дом 37</li></ul></div></li><li><a href="javascript:;" data-id="4" class="acc-list-item" onclick="put_city(this)">Актобе</a><div class="acc-list-content cities-dealers" style="display: none;"><ul class="list-unstyled"><li>- пр. Молдагуловой 19</li></ul></div></li><li><a href="javascript:;" data-id="5" class="acc-list-item" onclick="put_city(this)">Атырау</a><div class="acc-list-content cities-dealers" style="display: none;"><ul class="list-unstyled"><li>- ул. Сатпаева 36</li></ul></div></li><li><a href="javascript:;" data-id="6" class="acc-list-item" onclick="put_city(this)">Караганда</a><div class="acc-list-content cities-dealers" style="display: none;"><ul class="list-unstyled"><li>- пр. Бухар Жырау, 33</li><li>- бульвар Мира, 17</li></ul></div></li><li><a href="javascript:;" data-id="14" class="acc-list-item" onclick="put_city(this)">Шымкент</a><div class="acc-list-content cities-dealers" style="display: none;"><ul class="list-unstyled"><li>- ул. Желтоксан, б/н, ТЦ «ЫРЫС»</li></ul></div></li><li><a href="javascript:;" data-id="15" class="acc-list-item" onclick="put_city(this)">Усть-Каменогорск</a><div class="acc-list-content cities-dealers" style="display: none;"><ul class="list-unstyled"><li>- ул. Кабанбай Батыр 89</li></ul></div></li></ul>
    </div>
  </div>
</div>

  </div>
</div>

{% endblock %}
