{% block content %}

<h1 class="gutter page-title">Популярные услуги</h1>

<div class="d1-2 m1">
  <a class="box ratio-box ratio-3-2" href="#">
    <div class="box-background"></div>
    <div class="box-content cover" style="background-image: url({{ 'change-your-number.png' | asset_url }});"></div>
  </a>
</div><div class="d1-4 m1-2">

    <a href="#" class="box ratio-box animated-box ratio-3-2 m-ratio-2-1">
      <div class="box-background"></div>
      <div class="box-content">Будь в курсе!</div>
    </a>

    <a href="#" class="box ratio-box animated-box ratio-3-2 m-ratio-2-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-site-roaming">Роуминг</div>
<!--       <div class="box-content box-icon-unlock">Запрос пароля доступа к личному кабинету</div> -->
    </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-3-4 m-ratio-1">
    <div class="box-background"></div>
    <div class="box-content ">Тоникс</div>
<!--     <div class="box-content box-icon-block">Запрет вызова</div> -->
  </a>
</div>

<div class="vertical-space"></div>
<!--
<div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-settings">Управление услугами</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-old-phone">Базовые услуги</div>
  </a>
</div><div class="d1-2 m1">
  <a href="#" class="box ratio-box animated-box ratio-2-1 m-ratio-3-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-altel">Мой алтел</div>
  </a>
</div> -->
<div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-old-phone">Управление звонками</div>
<!--     <div class="box-content box-icon-site-roaming">Роуминг</div> -->
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-settings-auto">Автонастройки</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-settings">Команды управления услугами</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content ">Язык обслуживания</div>
  </a>
</div>

{% endblock %}
