{% block content %}

  <div class="gutter">
    <h1 class="page-title">Через банкоматы</h1>
    <div class="d1-6 m1">
      <section class="side-navigation-meta">
        <a href="/site-payment" class="back-button">Оплата</a>
      </section>
      <ul class="side-navigation">
        <li><a href="#" class="side-navigation-item">Пополнение баланса картой экспресс-оплаты</a></li>
        <!-- <li><a href="#" class="side-navigation-item">Через банкоматы</a></li> -->
        <li><a href="#" class="side-navigation-item">Через интернет-порталы банков</a></li>
        <li><a href="#" class="side-navigation-item">С помощью систем приема платежей и терминалов</a></li>
      </ul>
    </div><div class="d5-6 m1">

      <div class="fluffy">
        <p><nobr>"Таулинк"</nobr>, <nobr>"Киберплат"</nobr>, <nobr>"Региональная Платежная Система"</nobr>, <nobr>"ОСМП (<a href="http://osmp.kz/" target="_blank">http://osmp.kz/</a>)"</nobr>, <nobr>"Mpay (<a href="http://mpay.kz/" target="_blank">http://mpay.kz/</a>)"</nobr>, <nobr>"Мультикасса Казахстан"</nobr>, <nobr>"InTime"</nobr>, <nobr>"Национальная платежная система"</nobr></p>
      </div>


    </div>

  </div>

{% endblock %}
