{% block content %}

<div class="gutter">
  <h1 class="page-header">Популярные услуги</h1>
</div>
  <div class="d1 m1-2">
    <a class="box ratio-box ratio-3-2" href="#">
      <div class="box-background"></div>
      <div class="box-content cover-media" style="background-image: url({{ 'eg.png' | asset_url }});"></div>
    </a>
  </div><div class="d1-2 m1-4">

    <a href="#" class="box ratio-box animated-box ratio-3-2">
      <div class="box-background"></div>
      <div class="box-content box-icon-site-roaming">Роуминг</div>
    </a>

    <a href="#" class="box ratio-box animated-box ratio-3-2">
      <div class="box-background"></div>
      <div class="box-content box-icon-missed-call">Вам звонили!</div>
    </a>
  </div><div class="d1-2 m1-4">
    <a href="#" class="box ratio-box animated-box ratio-3-4">
      <div class="box-background"></div>
      <div class="box-content box-icon-exchange">Смена номера</div>
    </a>
  </div>

  <div class="d1-2 m1-4">
    <a href="#" class="box ratio-box animated-box m-ratio-3-4 l-ratio-4-3">
      <div class="box-background"></div>
      <div class="box-content box-icon-old-phone">Базовые услуги</div>
      <!--     <div class="box-content box-icon-site-roaming">Роуминг</div> -->
    </a>
  </div><div class="d1-2 m1-4">
    <a href="#" class="box ratio-box animated-box m-ratio-3-4 l-ratio-4-3">
      <div class="box-background"></div>
      <div class="box-content box-icon-aon">АОН / Анти АОН</div>
    </a>
  </div><div class="d1-2 m1-4">
    <a href="#" class="box ratio-box animated-box m-ratio-3-4 l-ratio-4-3">
      <div class="box-background"></div>
      <div class="box-content box-icon-settings">Команды управления услугами</div>
    </a>
  </div><div class="d1-2 m1-4">
    <a href="#" class="box ratio-box animated-box m-ratio-3-4 l-ratio-4-3">
      <div class="box-background"></div>
      <div class="box-content box-icon-dashboard">Мой алтел</div>
    </a>
  </div>

{% endblock %}
