{% layout 'entrance-layout' %}

{% block content %}

<div class="entrance-container">
    <div class="d1-6">
    </div><div class="d2-3 m1 text-center">
      <div class="box">
        <div class="box-content epic-plan">

          <div class="d1-3 s1">
          </div><div class="d1-3 s1 fluffy">
            <a href="/" class="logotype">
              <img class="logotype-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Altel">
            </a>
          </div>

          <div class="fluffy">
            <h1 class="group-title">On-line оплата</h1>
          </div>


          <div class="extend-both">
            <div class="readable">
              <h2>Правила проведения &laquo;Online Payment&raquo; (Онлайн оплата) услуг сотовой связи</h2>

              <p>Eсли Вы согласны с условиями указанными ниже, пожалуйста, подтвердите свое согласие с данными Правилами - выделив окошко слева от текста "Я прочитал Правила, согласен и принимаю условия проведения Онлайн оплаты". Поставив отметку в указанном окне о принятии Правил и условий, Вы принимаете и соглашаетесь с тем, что Вы ознакомлены с Правилами и не будете оспаривать их в будущем.</p>
              <p>Благодаря системе "Онлайн оплата" Вам предоставляется возможность оплатить услуги посредством платежных банковских карточек платежных систем:</p>
              <p>Visa International*, MasterCard International и American Express (далее - платежные карточки).</p>
              <p>Платежные карточки Visa Electron принимаются к оплате, только если они выпущены в следующих банках: АО "Казкоммерцбанк", Citibank, Сбербанк России и Казинвестбанк.</p>
              <p>Оплата осуществляется через авторизационный сервер АО "Казкоммерцбанк" на его защищенном WEB- портале https://epay.kkb.kz.</p>
              <p>"Онлайн платежи" по оплате Услуг осуществляются в казахстанских тенге. Минимальная сумма Онлайн оплаты составляет 200 тенге</p>
              <p>Сумма, которую вы выбрали, будет направлена на пополнение Лицевого счета указанного Вами Абонентского номера.</p>
              <h2>ВНИМАНИЕ!</h2>
              <p>В целях безопасности проведения платежа, Плательщику необходимо вводить данные своей Платежной карточки и код ее идентификации (CVV2/CVC2/CID) ТОЛЬКО на сайте АО Казкоммерцбанк - https://epay.kkb.kz!</p>
              <p>За проведение Онлайн платежей Ваш банк может снять банковскую комиссию. Оператор не несет ответственность за дополнительную плату, снятую вашим банком или международной системой оплаты. Рекомендуем Вам связаться с Вашим банком перед проведением оплаты.</p>
              <p>Для более безопасного проведения электронных платежей в интернете некоторые банки запрашивают код 3D Secure. Возможно, после введения данных о Вашей платежной карте у Вас запросят код 3D Secure. В случае отсутствия у вас кода 3D Secure вам необходимо запросить его у Вашего банка.</p>
              <p>По платежным карточкам АО Казкоммерцбанк при платеже свыше 50 долларов США (эквивалент в тенге) требуется код 3DSecure/SecureCode, который настраивается через www.homebank.kz или непосредственное обращение Плательщика в банк. Если сумма платежа меньше 50 долларов США (эквивалент в тенге), то 3DSecure/SecureCode не запрашивается.</p>
              <p>Нажав на кнопку "Оплатить", Вы подтверждаете, что были предупреждены.</p>
              <p>После нажатия кнопки "Оплатить" Плательщик будет переадресован на защищенный WEB-портал электронной оплаты - https://epay.kkb.kz, находящийся на сервере АО "Казкоммерцбанк", на котором Плательщик должен вводить данные своей платежной карточки.</p>
              <p>Онлайн платеж производится только после ввода Плательщиком на защищенном WEB-портал - https://epay.kkb.kz данных Платежной карточки, специального кода динамической идентификации Платежной карточки и успешной ее авторизации Банком.</p>
              <p>При этом обращаем Ваше внимание на то, что в целях снижения рисков мошеннических транзакций (платежей) Банк не предоставляет авторизацию в случае, если в течение отдельно взятого календарного дня количество транзакций (платежей) с использованием любой отдельной платежной карточки будет превышать 3 (три) транзакции (платежа).</p>
              <p>Платеж, осуществленный на неправильно указанный номер и неправильно указанную Плательщиком сумму возврату не подлежит.</p>


              <div class="text-center">
                <p class="caption">Для дополнительной информации просим писать на <a href="mailto:xxxxxx@xxxxxx.xxx">xxxxxx@xxxxxx.xxx</a></p>
              </div>
            </div>
          </div>

          <div class="readable fluffy">

            <figure class="text-center gutter-trailer">
              {{ "verified.png" | asset_url | image_tag }}
            </figure>

            <div class="d2-3 middle">
              <div class="extra no-trailer">
                <p class="gutter-trailer">
                    Безопасность транзакций гарантирует
                    Казкоммерцбанк
                </p>
              </div>
            </div><div class="d1-3 text-right middle">
              <a class="column" href="https://epay.kkb.kz/jsp/about/index.jsp">
                {{ "epay.png" | asset_url | image_tag }}
              </a>
            </div>

          </div>

        </div>
      </div>
    </div><div class="d1-6">
    </div>
</div>

{% endblock %}
