{% block content %}

  <div class="gutter">
    <h1 class="page-title">Пополнение баланса картой экспресс-оплаты</h1>
    <div class="d1-6 m1">
      <section class="side-navigation-meta">
        <a href="/site-payment" class="back-button">Оплата</a>
      </section>
      <ul class="side-navigation">
        <!-- <li><a href="#" class="side-navigation-item">Пополнение баланса картой экспресс-оплаты</a></li> -->
        <li><a href="#" class="side-navigation-item">Через банкоматы</a></li>
        <li><a href="#" class="side-navigation-item">Через интернет-порталы банков</a></li>
        <li><a href="#" class="side-navigation-item">С помощью систем приема платежей и терминалов</a></li>
      </ul>
    </div><div class="d5-6 m1">

      <div class="fluffy">
        <p>Для пополнения баланса вы можете использовать карты экспресс оплаты.</p>
        <p>Номер карты вводится в <a href="/dashboard" class="u-link">личном кабинете</a>.</p>
      </div>
      <div class="d1-4 s1-2">
        <a href="/dashboard" class="box ratio-box animated-box">
          <div class="box-background"></div>
          <div class="box-content box-icon-dashboard">
            Личный кабинет
          </div>
        </a>
      </div>


    </div>

  </div>

{% endblock %}
