{% block content %}

<h1 class="gutter">Популярные услуги</h1>

<div class="d1-2 m1">
  <a class="box ratio-box ratio-3-2" href="#">
    <div class="box-background"></div>
    <div class="box-content cover" style="background-image: url({{ 'eg.png' | asset_url }});"></div>
  </a>
</div><div class="d1-4 m1-2">

    <a href="#" class="box ratio-box animated-box ratio-3-2 m-ratio-2-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-unlock">Запрос пароля доступа к личному кабинету</div>
    </a>

    <a href="#" class="box ratio-box animated-box ratio-3-2 m-ratio-2-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-missed-call">Вам звонили!</div>
    </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-3-4 m-ratio-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-block">Запрет вызова</div>
  </a>
</div>

<div class="vertical-space"></div>

<div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-settings">Управление услугами</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-old-phone">Базовые услуги</div>
  </a>
</div><div class="d1-2 m1">
  <a href="#" class="box ratio-box animated-box ratio-2-1 m-ratio-3-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-altel">Мой алтел</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-site-roaming">Роуминг</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-exchange">Смена номера</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-business-services">Услуги</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-business-devices">Устройства</div>
  </a>
</div>

{% endblock %}
