{% model "plans.json" %}

{% block content %}


<div class="d1-2 m1-3">
  <a href="#" class="box ratio-box ratio-2-1 m-ratio-3-4">
    <div class="box-background"></div>
    <div class="box-content box-icon-business-devices">
      Телефоны
    </div>
  </a>
</div><div class="d1-4 m1-3">
  <a href="#" class="box ratio-box ratio-1 m-ratio-3-4">
    <div class="box-background"></div>
    <div class="box-content box-icon-usb-modem">
      USB-модемы
    </div>
  </a>
</div><div class="d1-4 m1-3">
  <a href="#" class="box ratio-box ratio-1 m-ratio-3-4">
    <div class="box-background"></div>
    <div class="box-content box-icon-mifi">
      Мобильные Wi-Fi роутеры (MiFi)
    </div>
  </a>
</div>

<div class="d5-6 m1">
    {% for plan in model.gsmPlans %}<div class="d1-4 l1-3 m1-2 s1">
      {% include "planbox-device" with plan %}
    </div>{% endfor %}
</div>


{% endblock %}
