{% model "plans.json" %}

{% block content %}

<div class="gutter">
  <h1>Интернет 4G</h1>
  <div class="d1-4 m1-6">
    <ul class="side-navigation">
      <!-- <li class="side-navigation-group-title">Интернет 4G</li> -->
      {% for plan in model.ltePlans %}
        <li><a href="{{ plan.url }}" class="side-navigation-item">{{ plan.name }}</a></li>
      {% endfor %}
    </ul>
  </div><div class="d3-4 m5-6">
    {% for plan in model.ltePlans %}<div class="d1-3 l1-2">
      {% include "planbox" with plan %}
    </div>{% endfor %}
  </div>
</div>
{% endblock %}