{% block content %}
  
  <div class="gutter">
    <h1>Через интернет-порталы банков</h1>
    <div class="d1-6 m1">
      <section class="side-navigation-meta">
        <a href="/site-payment" class="back-button">Оплата</a>
      </section>
      <ul class="side-navigation">
        <li><a href="#" class="side-navigation-item">Пополнение баланса картой экспресс-оплаты</a></li>
        <li><a href="#" class="side-navigation-item">Через банкоматы</a></li>
        <!-- <li><a href="#" class="side-navigation-item">Через интернет-порталы банков</a></li> -->
        <li><a href="#" class="side-navigation-item">С помощью систем приема платежей и терминалов</a></li>
      </ul>
    </div><div class="d5-6 m1">
      
      <div class="fluffy">
        <p>Благодаря системе <a href="/site-payment-online" class="u-link">"Online-оплата"</a> Вы можете пополнить свой баланс с помощью платежных банковских карт платежных систем:</p>
        <ul>
          <li>Visa</li>
          <li>Master Card</li>
          <li>American Express</li>
        </ul>

        <p><a href="/site-payment-online" class="button">Оплатить</a></p>

        <p>Оплата осуществляется через портал АО «Казкоммерцбанк».</p>

        <p>Оплата в ДО АО Банк ВТБ (Казахстан)</p>
        <p>Услуги связи можно оплачивать круглосуточно через систему Интернет-Банкинг "Online VTB" от ДО АО Банк ВТБ (Казахстан).</p>

      </div>
      

    </div>
    
  </div>

{% endblock %}


