{% model "plans.json" %}

{% block content %}

<div class="gutter">
<!--   <div class="d1-2 m1 middle">
    <h1 class="page-title">Устройства</h1>
  </div><div class="d1-2 m1 middle">
    <a href="#" class="box">
      <dib class="box-background"></dib>
      <div class="box-content">
        Проверить устройство на совместимость
      </div>
    </a>
  </div> -->


  <div class="d1-6 m1">
    <section class="side-navigation-meta">
      <a href="/site-devices" class="back-button">Устройства</a>
    </section>
    <ul class="side-navigation">
      <li>
        <a class="side-navigation-item active" href="/site-device-check">Проверь свое устройство на поддержку сети ALTEL 4G</a>
      </li>
      <li>
        <a class="side-navigation-item" href="">USB-модемы</a>
      </li>
      <li>
        <a class="side-navigation-item" href="">Мобильные Wi-Fi роутеры (MiFi)</a>
      </li>
      <li>
        <a class="side-navigation-item" href="">Стационарные Wi-Fi роутеры</a>
      </li>

      <!-- <li class="side-navigation-group-title">Тарифы GSM</li> -->
<!--       {% for plan in model.gsmPlans %}
        <li><a href="{{ plan.url }}" class="side-navigation-item">{{ plan.name }}</a></li>
      {% endfor %} -->
    </ul>
  </div><div class="d5-6 m1">

    <div class="box box--common">
      <div class="box-content">
        <div class="readable">
          <h1>Проверка совместимости устройств с сетью Altel 4G</h1>
          <p>
            Для того чтобы узнать будет ли поддерживать Ваше устройство технологию 3G в сети ALTEL 4G, достаточно ввести первые 8 цифр IMEI-кода Вашего телефона.
          </p>
          <h2>Что такое IMEI?</h2>
          <p>
            IMEI &mdash; это уникальный серийный номер каждого телефона, который автоматически передается аппаратом в сеть оператора при подключении.
          </p>
          <h2>
            Как узнать IMEI телефона?
          </h2>
          <p>
            Чтобы проверить IMEI телефона, наберите <code>*#06#</code> и кнопку вызова на Вашем телефоне. Также IMEI код продублирован под аккумуляторной батареей Вашего телефона, на упаковке и в гарантийном талоне.
          </p>
          <form action="">
            <div class="f-field">
              <div class="d2-3 gutter">
                <input class="input-d1" type="text" />
              </div><div class="d1-3">
                <button>Проверить</button>
              </div>
              <p class="gutter">Вводите только цифровые значения (например, 12345678)</p>
            </div>
          </form>

          <div class="callout">
            <h2>Результат проверки:</h2>
            <p class="strong">
              Ваше устройство поддерживает технологию 3G в сети ALTEL 4G
            </p>
          </div>


        </div>
      </div>
    </div>

<!--     {% for plan in model.gsmPlans %}<div class="d1-4 l1-3 m1-2 s1">
      {% include "planbox-device" with plan %}
    </div>{% endfor %} -->
  </div>

  <nav class="mobile-side-navigation">
    <h2><a href="/site-plans">Тарифы GSM</a></h2>
    <ul class="side-navigation">
      <!-- <li class="side-navigation-group-title">Тарифы GSM</li> -->
      {% for plan in model.gsmPlans %}
        <li><a href="{{ plan.url }}" class="side-navigation-item">{{ plan.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% endblock %}
