{% model "plans.json" %}

{% block content %}

<div class="gutter">
  <h1>Интернет 4G</h1>
  <div class="d1-6 m1">
    <ul class="side-navigation">
      <!-- <li class="side-navigation-group-title">Интернет 4G</li> -->
      {% for plan in model.ltePlans %}
        <li><a href="{{ plan.url }}" class="side-navigation-item">{{ plan.name }}</a></li>
      {% endfor %}
    </ul>
  </div><div class="d5-6 m1">
    {% for plan in model.ltePlans %}<div class="d1-4 l1-3 m1-2 s1">
      {% include "planbox-lte" with plan %}
    </div>{% endfor %}
  </div>
  
  <nav class="mobile-side-navigation">
    <h2><a href="/site-internet">Интернет 4G</a></h2>
    <ul class="side-navigation">
      {% for plan in model.ltePlans %}
        <li><a href="{{ plan.url }}" class="side-navigation-item">{{ plan.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>

</div>
{% endblock %}