{% block content %}
<div class="gutter">
  <h1>Блог Председателя Правления АО "АЛТЕЛ"</h1>
  <div class="d1-6 s1">
    <ul class="side-navigation">
      <li><a href="/site-about" class="side-navigation-item">&larr; О компании</a></li>
      {% for group in (1..4) %}
        <li><a href="#" class="side-navigation-item">Month (23)</a></li>
      {% endfor %}
      <li><a href="#" class="side-navigation-item">Архив</a></li>
    </ul>
  </div><div class="d2-3 m5-6 s1">
    <div class="fluffy">
      <div class="d1-4 text-center">
        <img src="/public/images/other-images/chairman.png" alt="Chairman">
      </div><div class="d3-4">
        <blockquote>
          <p>Рад приветствовать вас в своем блоге, где вы можете задать любой интересующий вопрос или написать обращение.</p>
          <p>Постараюсь ответить на каждое из них.</p>
          <p>Надеюсь, что наше виртуальное общение станет залогом успешного и плодотворного сотрудничества!</p>
          <cite>Председатель правления АО "АЛТЕЛ", Сауранбеков Максут Тельманович</cite>
        </blockquote>
      </div>
    </div>
    
    <div class="fluffy text-center">
      <a href="/site-chairman-blog-ask" class="button">Задать вопрос</a>
    </div>
    
    <header class="group-header">
      <h2 class="group-title">Декабрь 2013</h2>
      <section class="group-meta">
        12 записей
      </section>
    </header>

    <div class="box">
      <div class="box-content">
        <article class="post-preview">
          <header class="post-header">
            <section class="post-meta">
              20 декабря 2013, от пользователя <strong>Username</strong>
            </section>
          </header>
          <section class="post-excerpt">
            <p>
              Уважаемый, Максут Тельманович! 
              Сегодня в течении дня набирал контактные номера телефонов указанные на данном сайте для города Астана. 
              Однако, они оказались безответными. Хотел выяснить: точны ли сведения указанные на сайте? если это так, 
              то какие причины оставили мои звонки без ответа? если я стану клиентом Вашей компании по проекту 4G будут 
              ли у меня другая возможность связываться со специалистами кроме Вашего блога и указанных номеров?
            </p>
          </section>
          <footer class="post-links">
            <a class="button" href="/site-chairman-blog-post">Прочитать ответ</a>
          </footer>
        </article>
      </div>
    </div>

    <div class="box">
      <div class="box-content">
        <article class="post-preview">
          <header class="post-header">
            <section class="post-meta">
              20 декабря 2013, от пользователя <strong>Username</strong>
            </section>
          </header>
          <section class="post-excerpt">
            <p>
              Здравствуйте Уважаемый Максут Тельманович! 
              Прошу принять меры по отношению к сотрудникам Call centre Асель и Лаура. Довожу до Вашего сведения, что позвонив в центр поддержки клиентов АО Алтел, очень разочаровалась. В связи с затруднениями платежа через терминалы, купила карточку для пополнения баланса. Но моя мать старый человек, она не может пользоваться голосовой почтой, она пошла к соседу домой, чтобы загрузить единицы, но у них не получилось. Поэтому я обратилась в Call centre, дозвониться очень трудно(6 мин минимум) , но оператор Асель 2 раза бросила трубку, ссылаясь что плохо слышит меня, конечно это было не так. Потом с 3го раза трубку подняла Лаура, но она не стала меня до конца слушать, перебивала без конца, что не тактично с ее стороны, в конце она угрожала, что заблокирует мой номер и бросила трубку. Возникает вопрос неужели компания Алтел дает своим сотрудникам такие полномочия как заблокировать номер абонента, когда он просто не может загрузить единицы и обращается за помшью в Call centre. Она попросила сказать на кого номер оформлен, но я не знаю на кого он оформлен. Я попросила Лауру посмотреть на входящие звонки этого номера, что я с номера 8 700 *** ** ** всегда звоню ей, но она говорит , что у нее нет такой информации. Она отказалась загрузить единицы. Вы можете подробно узнать об обслуживании этих сотрудников, если послушаете запись от 02.09.2012 года с 20-00 да 21- часа. Я очень надеюсь, что на мое письмо Вы ответите, и примите меры по улучшению качество обслуживания абонентов, которые обращаются в центр поддержки клиентов за помощью. Если операторы решали бы вопросы абонентов с первого звонка не было бы такой нагрузки, без конца футболят и угрожают, что заблокируют номер. Прошу разобраться в ситуации. 
              С уважением абонент компании «Алтел» Бакыт Артыкбаевна
            </p>
          </section>
          <footer class="post-links">
            <a class="button" href="/site-chairman-blog-post">Прочитать ответ</a>
          </footer>
        </article>
      </div>
    </div>
    
    {% include "pagination" %}

    <nav class="mobile-side-navigation">
      <h2><a href="/site-chariman-blog">Блог Председателя Правления АО "АЛТЕЛ"</a></h2>
      <ul class="side-navigation">
        {% for group in (1..4) %}
          <li><a href="#" class="side-navigation-item">Month (23)</a></li>
        {% endfor %}
        <li><a href="#" class="side-navigation-item">Архив</a></li>
      </ul>
    </nav>
      
  </div>
</div>
{% endblock %}