{% block content %}
  <div class="gutter">
    <h1 class="page-title">Поддержка</h1>
    <div class="d1-6 m1">
      <ul class="side-navigation">
        <li><a href="/site-support-coverage" class="side-navigation-item">Зона покрытия</a></li>
        <li><a href="/site-support-service-centres" class="side-navigation-item">Сервис центры на карте</a></li>
        <li><a href="/site-support-feedback" class="side-navigation-item">Обратная связь</a></li>
        <li><a href="#" class="side-navigation-item">Онлайн консультант</a></li>
      </ul>
    </div><div class="d5-6 m1">
      <div class="d1-4 l1-3 m1-2">
        <a href="/site-support-coverage" class="box ratio-box animated-box m-ratio-4-3 s-ratio-1">
          <div class="box-background"></div>
          <div class="box-content box-icon-sup-coverage">Зона покрытия</div>
        </a>
      </div><div class="d1-4 l1-3 m1-2">
        <a href="/site-support-service-centres" class="box ratio-box animated-box m-ratio-4-3 s-ratio-1">
          <div class="box-background"></div>
          <div class="box-content box-icon-sup-centres">Сервис центры на карте</div>
        </a>
      </div><div class="d1-4 l1-3 m1-2">
        <a href="/site-support-feedback" class="box ratio-box animated-box m-ratio-4-3 s-ratio-1">
          <div class="box-background"></div>
          <div class="box-content box-icon-feedback">Обратная связь</div>
        </a>
      </div><div class="d1-4 l1-3 m1-2">
        <a href="#" class="box ratio-box animated-box m-ratio-4-3 s-ratio-1">
          <div class="box-background"></div>
          <div class="box-content box-icon-sup-consultant">Онлайн консультант</div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
