{% block content %}

<div class="gutter">
  <h1>Миграция</h1>
  <div class="d1-6 s1">
    <section class="side-navigation-meta">
      <a href="/site-support" class="back-button">Поддержка</a>
    </section>
    <ul class="side-navigation">
      <li><a href="/site-support-coverage" class="side-navigation-item">Зона покрытия</a></li>
      <li><a href="/site-support-feedback" class="side-navigation-item">Обратная связь</a></li>
      <li><a href="#" class="side-navigation-item">Онлайн консультант</a></li>
    </ul>
  </div><div class="d2-3 m5-6 s1">
    <div class="box">
      <div class="box-content">
        <div class="readable">
          <div class="fluffy">
            <div class="d1-3 gutter text-center">
              {{ "120x60" | placeholder:'FF6600','000000' | image_tag }}
            </div><div class="d1-3 gutter text-center">
              {{ "120x60" | placeholder:'FF6600','000000' | image_tag }}
            </div><div class="d1-3 gutter text-center">
              {{ "120x60" | placeholder:'FF6600','000000' | image_tag }}
            </div>
          </div>
          <div class="transfer-image">
            <img src="/public/images/arrow-down.png" alt="">
          </div>
          <h2 class="text-center">Переходите на GSM, </h2>
          <div class="fluffy text-center">
            <div class="d2-3 s1-2">
              <img src="/public/images/logotype.svg" alt="">
            </div>
          </div>
          {{ 2 | lorem_ipsum:'p' }}
          <div class="plan-cta-container">
            <a href="#" class="button">Call to action</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}