{% block content %}
  <div class="gutter">
    <h1>Зона покрытия</h1>
    <div class="d1-6 m1">
      <section class="side-navigation-meta">
        <a href="/site-support" class="back-button">Поддержка</a>
      </section>
      <ul class="side-navigation">
        <li><a href="/site-support-service-centres" class="side-navigation-item">Сервис центры на карте</a></li>
        <li><a href="/site-support-feedback" class="side-navigation-item">Обратная связь</a></li>
        <li><a href="#" class="side-navigation-item">Онлайн консультант</a></li>
      </ul>
    </div><div class="d5-6 m1">
      <div class="fluffy">
        <img src="/public/images/kz.svg" alt="">
      </div>
      <div class="d1-2 gutter">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, sequi, aliquid pariatur id ipsa doloremque sed minima eligendi odit ipsum totam rerum! Provident, dolorum, molestias incidunt sequi ad hic soluta.</p>
      </div><div class="d1-2 gutter">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, doloribus, molestias, placeat, voluptas ullam nobis harum id fuga at ducimus repudiandae corporis porro saepe possimus tenetur corrupti qui rem ipsum.</p>
      </div>
    </div>
    <nav class="mobile-side-navigation">
      <h2><a href="/site-support">Поддержка</a></h2>
      <ul class="side-navigation">
        <li><a href="/site-support-coverage" class="side-navigation-item">Зона покрытия</a></li>
        <li><a href="#" class="side-navigation-item">Сервис центры на карте</a></li>
        <li><a href="/site-support-feedback" class="side-navigation-item">Обратная связь</a></li>
        <li><a href="#" class="side-navigation-item">Онлайн консультант</a></li>
      </ul>
    </nav>
  </div>
{% endblock %}