{% block content %}

<div class="gutter">
  <h1 class="page-title">
    Лицензии
  </h1>

  <div class="d1-6 m1">
    <section class="side-navigation-meta">
      <a href="/site-about" class="back-button">О компании</a>
    </section>
    <ul class="side-navigation">
      <!-- <li class="side-navigation-group-title">О</li> -->
      <!-- <li><a href="/site-about" class="side-navigation-item">О компании</a></li> -->
      <li><a href="/site-news" class="side-navigation-item">Новости</a></li>
      <li><a href="/site-press" class="side-navigation-item">Пресс-центр</a></li>
      <li><a href="/site-licenses" class="side-navigation-item">Лицензии</a></li>
      <li><a href="/site-buying" class="side-navigation-item">Закупки</a></li>
      <li><a href="/site-vacancies" class="side-navigation-item">Вакансии</a></li>
      <li class="side-navigation-group-title"></li>
      <li><a href="/site-chairman-blog" class="side-navigation-item">Блог Председателя Правления АО "АЛТЕЛ"</a></li>
      <!-- <li><a href="/site-risk-mgmt" class="side-navigation-item">Управление рисками</a></li> -->
      <li><a href="/site-technology-list" class="side-navigation-item">
        Технологии</a></li>
    </ul>
  </div><div class="d2-3 m1 text-center">


      <div class="d1-2 s1 fluffy">
        <p>{{ "212x300" | placeholder:'FF6600','000000' | image_tag }}</p>
        <p><a href="#" class="u-link">Государственная лицензия на осуществление предпринимательской деятельности по предоставлению услуг сотовой связи (2473.8 kB, PDF)</a></p>
      </div><div class="d1-2 s1 fluffy">
        <p>{{ "212x300" | placeholder:'FF6600','000000' | image_tag }}</p>
        <p><a href="#" class="u-link">Государственная лицензия на осуществление предпринимательской деятельности по предоставлению услуг местной телефонной связи (1376.9 kB, PDF)</a></p>
      </div>

  </div>


</div>

{% endblock %}
