{% model "plans.json" %}

{% block content %}


<div class="d1-3">
  <a href="#" class="box ratio-box ratio-4-3 m-ratio-3-4">
    <div class="box-background"></div>
    <div class="box-content box-icon-business-devices">
      Телефоны
    </div>
  </a>
</div><div class="d1-3">
  <a href="#" class="box ratio-box ratio-4-3 m-ratio-3-4">
    <div class="box-background"></div>
    <div class="box-content box-icon-usb-modem">
      USB-модемы
    </div>
  </a>
</div><div class="d1-3">
  <a href="#" class="box ratio-box ratio-4-3 m-ratio-3-4">
    <div class="box-background"></div>
    <div class="box-content box-icon-mifi">
      Мобильные Wi-Fi роутеры (MiFi)
    </div>
  </a>
</div>

{% for plan in model.gsmPlans %}<div class="d1-4 l1-3 m1-2 s1">
  {% include "planbox-device" with plan %}
</div>{% endfor %}

{% comment %}

<div class="gutter">
  <div class="d1-2 m1 middle">
    <h1 class="page-title">Устройства</h1>
  </div><div class="d1-2 m1 middle">
    <a href="#" class="box">
      <dib class="box-background"></dib>
      <div class="box-content">
        Проверить устройство на совместимость
      </div>
    </a>
  </div>


  <div class="d1-6 m1">
    <ul class="side-navigation">
      <li>
        <a class="side-navigation-item" href="/site-device-check">Проверь свое устройство на поддержку сети ALTEL 4G</a>
      </li>
      <li>
        <a class="side-navigation-item" href="">USB-модемы</a>
      </li>
      <li>
        <a class="side-navigation-item" href="">Мобильные Wi-Fi роутеры (MiFi)</a>
      </li>
      <li>
        <a class="side-navigation-item" href="">Стационарные Wi-Fi роутеры</a>
      </li>

      <!-- <li class="side-navigation-group-title">Тарифы GSM</li> -->
<!--       {% for plan in model.gsmPlans %}
        <li><a href="{{ plan.url }}" class="side-navigation-item">{{ plan.name }}</a></li>
      {% endfor %} -->
    </ul>
  </div><div class="d5-6 m1">



    {% for plan in model.gsmPlans %}<div class="d1-4 l1-3 m1-2 s1">
      {% include "planbox-device" with plan %}
    </div>{% endfor %}
  </div>

  <nav class="mobile-side-navigation">
    <h2><a href="/site-plans">Тарифы GSM</a></h2>
    <ul class="side-navigation">
      <!-- <li class="side-navigation-group-title">Тарифы GSM</li> -->
      {% for plan in model.gsmPlans %}
        <li><a href="{{ plan.url }}" class="side-navigation-item">{{ plan.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</div>

{% endcomment %}

{% endblock %}
