{% block content %}

<div class="gutter">
  <h1>
    Лицензии
  </h1>
  
  <div class="text-center">
    <div class="d2-3 l1">
      <div class="d1-2 s1 fluffy">
        <p>{{ "212x300" | placeholder:'FF6600','000000' | image_tag }}</p>
        <p><a href="#" class="u-link">Государственная лицензия на осуществление предпринимательской деятельности по предоставлению услуг сотовой связи (2473.8 kB, PDF)</a></p>
      </div><div class="d1-2 s1 fluffy">
        <p>{{ "212x300" | placeholder:'FF6600','000000' | image_tag }}</p>
        <p><a href="#" class="u-link">Государственная лицензия на осуществление предпринимательской деятельности по предоставлению услуг местной телефонной связи (1376.9 kB, PDF)</a></p>
      </div>
    </div>
  </div>

</div>

{% endblock %}