{% block content %}

<div class="gutter">
  <h1>Поддержка: FAQ</h1>
  <div class="d1-6 m1">

  </div><div class="d5-6 m1">
    <div class="box">
      <div class="box-content">
        <ul class="acc-list text-left js-acc-list">
          {% for i in (1..20) %}
          <li>
            <a href="#" class="acc-list-item">
              {{ 1 | lorem_ipsum }}
            </a>
            <div class="acc-list-content">
              {{ 3 | lorem_ipsum:"p" }}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
