{% block content %}

<div class="gutter">
  <h1 class="page-title">План закупок</h1>
  <div class="d1-6 m1">
    <section class="side-navigation-meta">
      <a href="/site-about" class="back-button">О компании</a>
    </section>
    <ul class="side-navigation">
      <!-- <li class="side-navigation-group-title">О</li> -->
      <!-- <li><a href="/site-about" class="side-navigation-item">О компании</a></li> -->
      <li><a href="/site-news" class="side-navigation-item">Новости</a></li>
      <li><a href="/site-press" class="side-navigation-item">Пресс-центр</a></li>
      <li><a href="/site-licenses" class="side-navigation-item">Лицензии</a></li>
      <!-- <li><a href="/site-buying" class="side-navigation-item">Закупки</a></li> -->
      <li><a href="/site-vacancies" class="side-navigation-item">Вакансии</a></li>
      <li class="side-navigation-group-title"></li>
      <li><a href="/site-chairman-blog" class="side-navigation-item">Блог Председателя Правления АО "АЛТЕЛ"</a></li>
        <li><a href="/site-risk-mgmt" class="side-navigation-item">Управление рисками</a></li>
        <li><a href="/site-technology-list" class="side-navigation-item">
        Технологии</a></li>
      <li class="side-navigation-group-title"></li>
      <li><a href="/site-buying-news" class="side-navigation-item">Закупки</a></li>
      <li><a href="#" class="side-navigation-item">Архив 2011-2012 г.</a></li>
      <li><a href="#" class="side-navigation-item">Архив 2010 г.</a></li>
      <li><a href="#" class="side-navigation-item">Карта оплат по договорам АО "Алтел"</a></li>
      <li><a href="#" class="side-navigation-item">Карта регионального распределения меморандумов и договоров</a></li>
    </ul>
    <nav class="mobile-side-navigation">
      <ul class="side-navigation">
        <li><a href="/site-buying-news" class="side-navigation-item">Закупки</a></li>
      </ul>
    </nav>
  </div><div class="d2-3 m1">
    <div class="box">
      <div class="box-content">
        <div class="readable">
          <section class="post-subtitle">
            <p>Aкционерное общество «АЛТЕЛ» уведомляет всех потенциальных поставщиков о том, что с 01 декабря 2011г. фактическое местонахождение АО «АЛТЕЛ» является: 050020, г. Алматы, пр. Достык,248Б.</p>
            <p>Просим всю корреспонденцию направлять по вышеуказанному адресу.</p>
            <p>Телефоны и факсы остаются прежними.</p>
          </section>
          <p>
              <strong>Ответственный за закупки по АО «АЛТЕЛ»</strong><br>
              Начальник Отдела логистики<br>
              <strong>Богацкий Сергей Геннадьевич</strong><br>
              Контактные телефоны:<br>
              сот.: +7 700 999 80 80 <br>
              раб.: +7 727 259 84 68, вн. 11522 <br>
              E-mail: <a href="mailto:bogatskiy@altel.kz">bogatskiy@altel.kz</a>
          </p>
          <ul>
            <li><a class="u-link" href="#">Правила закупок Фонда с изменениями и дополнениями от 07.06.2013 (584.5 kB, .doc)</a></li>
            <li><a class="u-link" href="#">Годовой План закупок АО АЛТЕЛ на 2014 год (352.8 kB, .xls)</a></li>
            <li><a class="u-link" href="#">Годовой План закупок АО АЛТЕЛ на 2013 (1573.5 kB, .xls)</a></li>
            <li><a class="u-link" href="#">Годовой план закупок АО АЛТЕЛ на 2012 год (857 kB, .xls)</a></li>
            <li><a class="u-link" href="#">План долгосрочных закупок АО АЛТЕЛ на 2013-2014 гг (56 kB, .xls)</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
