{% block content %}


<h1 class="page-header gutter">Оплата</h1>

<div class="d1 l1-6 side-nav-container">

  <ul class="side-navigation">
    <li><a href="/site-payment-online" class="side-navigation-item">Онлайн-оплата</a></li>
    <li><a href="#" class="side-navigation-item">Пополнение баланса картой экспресс-оплаты</a></li>
    <li><a href="#" class="side-navigation-item">Через банкоматы</a></li>
    <li><a href="/site-payment-portal" class="side-navigation-item">Через интернет-порталы банков</a></li>
    <li><a href="#" class="side-navigation-item">С помощью систем приема платежей и терминалов</a></li>
  </ul>

</div><div class="d1 l5-6">

  <div class="d1 m1-3 l1-4">
    <a href="/site-payment-online-welcome" class="box ratio-box animated-box ratio-2-1 m-ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-payment">
        Онлайн-оплата
      </div>
    </a>
  </div><div class="d1 m1-3 l1-4">
    <a href="/site-payment-express" class="box ratio-box animated-box ratio-2-1 m-ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-payment-express">
        Пополнение баланса картой экспресс-оплаты
      </div>
    </a>
  </div><div class="d1 m1-3 l1-4">
    <a href="/site-payment-atm" class="box ratio-box animated-box ratio-2-1 m-ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-payment-atm">
        Через банкоматы
      </div>
    </a>
  </div><div class="d1 m1-3 l1-4">
    <a href="/site-payment-portal" class="box ratio-box animated-box ratio-2-1 m-ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-payment-portal">
        Через интернет-порталы банков
      </div>
    </a>
  </div><div class="d1 m1-3 l1-4">
    <a href="/site-payment-pos" class="box ratio-box animated-box ratio-2-1 m-ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-payment-pos">
        С помощью систем приема платежей и терминалов
      </div>
    </a>
  </div><div class="d1 m1-3 l1-4">
    <a href="/site-payment-pos" class="box ratio-box animated-box ratio-2-1 m-ratio-1">
      <div class="box-background"></div>
      <div class="box-content box-icon-pay-mobile">
        Some heading here
      </div>
    </a>
  </div>
</div>

{% endblock %}
