{% block content %}

<div class="gutter">
  <div class="d1-6 s1">
    <section class="side-navigation-meta">
      <a href="/site-chairman-blog" class="back-button">Назад к блогу</a>
    </section>
  </div><div class="d2-3 m5-6 s1">
    <div class="box">
      <div class="box-content">
        <form class="readable">
          <h2>Задать вопрос</h2>
          <div class="input-line">
            <label for="">Автор: *</label>
            <input type="text" class="input-d1">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}