{% block content %}
  {% block content %}
  <div class="gutter">
    <h1>Управление рисками</h1>
    <div class="d1-6 m1">
      <section class="side-navigation-meta">
        <a href="/site-about" class="back-button">О компании</a>
      </section>
      <ul class="side-navigation">
        <li><a href="/site-about" class="side-navigation-item">&larr; О компании</a></li>
      </ul>
    </div><div class="d2-3 m1">
      <div class="box">
        <div class="box-content">
          <div class="fluffy readable">
            <section class="post-subtitle">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, fugiat, eligendi, maiores esse quaerat illo itaque nulla odit
            </section>
            <p>Основными целями корпоративной системы управления рисками (КСУР) являются:</p>
            <ul>
              <li>построение эффективной комплексной системы и создание интегрированного процесса управления рисками в Обществе, а также постоянное совершенствование деятельности на основе единого стандартизированного подхода к методам и процедурам управления рисками;</li>
              <li>обеспечение определения риск–аппетита и уровня толерантности к риску, а также обеспечение эффективного управления критическими рисками.</li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, velit, quae illum voluptatibus quod cum hic minima nobis? Blanditiis, quod molestias delectus non libero autem dolore quas asperiores ad in!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, enim id vero alias quam nulla deleniti aspernatur consequatur officia debitis quis asperiores exercitationem aliquam vitae veniam nisi laboriosam earum! Officia.</p>
          </div>
        </div>
      </div>
    </div>

    <nav class="mobile-side-navigation">
      <h2><a href="/site-about">О компании</a></h2>
      <ul class="side-navigation">
        <li><a href="/site-chairman-blog" class="side-navigation-item">Блог Председателя Правления АО "АЛТЕЛ"</a></li>
        <li><a href="/site-risk-mgmt" class="side-navigation-item">Управление рисками</a></li>
        <li><a href="/site-technology-list" class="side-navigation-item">
        Технологии</a></li>
      </ul>
    </nav>
  </div>
{% endblock %}
{% endblock %}