{% block content %}

<div class="gutter">
  <h1>Сервис центры на карте</h1>
  <div class="d1-6 s1">
    <section class="side-navigation-meta">
      <a href="/site-support" class="back-button">Поддержка</a>
    </section>
    <ul class="side-navigation">
      <li><a href="/site-support-coverage" class="side-navigation-item">Зона покрытия</a></li>
      <li><a href="/site-support-feedback" class="side-navigation-item">Обратная связь</a></li>
      <li><a href="#" class="side-navigation-item">Онлайн консультант</a></li>
    </ul>
  </div><div class="d2-3 m5-6 s1">
  </div>
</div>

{% endblock %}