{% model "gsm-services.json" %}

{% block content %}
<div class="gutter">
  <h1>Дополнительные услуги</h1>
  <div class="d1-6">
    <ul class="side-navigation">
      <li class="side-navigation-group-title">Услуги GSM</li>
      {% for service in model.gsm-services %}
        <li><a href="{{ service.url }}" class="side-navigation-item">{{ service.name }}</a></li>
      {% endfor %}
      <li class="side-navigation-group-title">Услуги LTE</li>
      {% for service in model.lte-services %}
        <li><a href="{{ service.url }}" class="side-navigation-item">{{ service.name }}</a></li>
      {% endfor %}
      <!-- <li><a href="#" class="side-navigation-item">Вам звонили!</a></li>
      <li><a href="#" class="side-navigation-item">Ожидание и удержание вызова</a></li>
      <li><a href="#" class="side-navigation-item">Конференц-связь</a></li>
      <li><a href="#" class="side-navigation-item">Переадресация вызова</a></li>
      <li><a href="#" class="side-navigation-item">Анти-АОН</a></li>
      <li><a href="#" class="side-navigation-item">АОН</a></li>
      <li><a href="#" class="side-navigation-item">Смена номера</a></li>
      <li><a href="#" class="side-navigation-item">Услуга Tonix</a></li> -->
    </ul>
  </div><div class="d5-6">
    <h2>Услуги GSM</h2>
    {% for plan in model.gsm-services %}<div class="d1-4 l1-3 m1-2">
      {% include "planbox" with plan %}
    </div>{% endfor %}
    <h2>Услуги LTE</h2>
    {% for plan in model.lte-services %}<div class="d1-4 l1-3 m1-2">
      {% include "planbox-lte" with plan %}
    </div>{% endfor %}
  </div>
</div>
{% endblock %}