{% block content %}

  <div class="gutter">
    <h1 class="page-title">Оплата</h1>
    <div class="d1-6 m1">
      <ul class="side-navigation">
        <li><a href="/site-payment-online" class="side-navigation-item">Онлайн-оплата</a></li>
        <li><a href="#" class="side-navigation-item">Пополнение баланса картой экспресс-оплаты</a></li>
        <li><a href="#" class="side-navigation-item">Через банкоматы</a></li>
        <li><a href="/site-payment-portal" class="side-navigation-item">Через интернет-порталы банков</a></li>
        <li><a href="#" class="side-navigation-item">С помощью систем приема платежей и терминалов</a></li>
      </ul>
    </div><div class="d5-6 m1">
      <div class="d1-4 l1-3 m1-2">
        <a href="/site-payment-online-welcome" class="box ratio-box animated-box m-ratio-4-3 s-ratio-1">
          <div class="box-background"></div>
          <div class="box-content box-icon-payment">
            Онлайн-оплата
          </div>
        </a>
      </div><div class="d1-4 l1-3 m1-2">
        <a href="/site-payment-express" class="box ratio-box animated-box m-ratio-4-3 s-ratio-1">
          <div class="box-background"></div>
          <div class="box-content box-icon-payment-express">
            Пополнение баланса картой экспресс-оплаты
          </div>
        </a>
      </div><div class="d1-4 l1-3 m1-2">
        <a href="/site-payment-atm" class="box ratio-box animated-box m-ratio-4-3 s-ratio-1">
          <div class="box-background"></div>
          <div class="box-content box-icon-payment-atm">
            Через банкоматы
          </div>
        </a>
      </div><div class="d1-4 l1-3 m1-2">
        <a href="/site-payment-portal" class="box ratio-box animated-box m-ratio-4-3 s-ratio-1">
          <div class="box-background"></div>
          <div class="box-content box-icon-payment-portal">
            Через интернет-порталы банков
          </div>
        </a>
      </div><div class="d1-4 l1-3 m1-2">
        <a href="/site-payment-pos" class="box ratio-box animated-box m-ratio-4-3 s-ratio-1">
          <div class="box-background"></div>
          <div class="box-content box-icon-payment-pos">
            С помощью систем приема платежей и терминалов
          </div>
        </a>
      </div>
    </div>

  </div>

{% endblock %}
