{% block content %}

  <div class="gutter">
    <h1 class="page-title">Через банкоматы</h1>
    <div class="d1-6 m1">
      <section class="side-navigation-meta">
        <a href="/site-payment" class="back-button">Оплата</a>
      </section>
      <ul class="side-navigation">
        <li><a href="#" class="side-navigation-item">Пополнение баланса картой экспресс-оплаты</a></li>
        <!-- <li><a href="#" class="side-navigation-item">Через банкоматы</a></li> -->
        <li><a href="#" class="side-navigation-item">Через интернет-порталы банков</a></li>
        <li><a href="#" class="side-navigation-item">С помощью систем приема платежей и терминалов</a></li>
      </ul>
    </div><div class="d5-6 m1">

      <div class="fluffy">
        <p><nobr>АО &laquo;Казкоммерцбанк&raquo;</nobr>, <nobr>АО &laquo;Темiрбанк&raquo;</nobr>, <nobr>АО &laquo;Альянс банк&raquo;</nobr>, <nobr>АО &laquo;Евразийский банк&raquo;</nobr>, <nobr>АО &laquo;Банк ЦентрКредит&raquo;</nobr>, <nobr>АО &laquo;БТА Банк&raquo;</nobr>, <nobr>АО &laquo;Цесна Банк&raquo;</nobr></p>
      </div>


    </div>

  </div>

{% endblock %}
