{% block content %}

<h1 class="gutter">Популярные услуги</h1>

<div class="d1-2">
  <a class="box ratio-box ratio-3-2" href="#">
    <div class="box-background"></div>
    <div class="box-content" style="background-image: url(/public/images/);"></div>
  </a>
</div><div class="d1-2">
  <div class="d1-2">
    <a href="#" class="box ratio-box animated-box ratio-3-2 m-ratio-1">
      <div class="box-background"></div>
      <div class="box-content">Запрос пароля доступа к личному кабинету</div>
    </a>
  </div><div class="d1-2">
    <a href="#" class="box ratio-box animated-box ratio-3-2 m-ratio-1">
      <div class="box-background"></div>
      <div class="box-content">Вам звонили!</div>
    </a>
  </div><div class="d1-2">
    <a href="#" class="box ratio-box animated-box ratio-3-2 m-ratio-1">
      <div class="box-background"></div>
      <div class="box-content">Запрет вызова</div>
    </a>
  </div>
</div>

<div class="vertical-space"></div>

<div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-business-informer">История</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-star">Преимущества</div>
  </a>
</div><div class="d1-2 m1">
  <a href="#" class="box ratio-box animated-box ratio-2-1 m-ratio-3-1">
    <div class="box-background"></div>
    <div class="box-content box-icon-tick">Условия подключения</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-business-services">Услуги</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-site-plans">Тарифные предложения</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-business-devices">Устройства</div>
  </a>
</div><div class="d1-4 m1-2">
  <a href="#" class="box ratio-box animated-box ratio-1 m-ratio-4-3">
    <div class="box-background"></div>
    <div class="box-content box-icon-payment">Оплата</div>
  </a>
</div>

{% endblock %}
