{% block 'content' %}

<ul class="mapLegend">
  <li class="mapLegend-a">Покрытие внутри зданий</li>
  <li class="mapLegend-b">Покрытие вне зданий</li>
  <li class="mapLegend-c">Покрытие не устойчивое</li>
</ul>

{% endblock %}
