{% block content %}
  {% include "dashboard-navigation" %}

  <section class="section-container">
    <div class="page-title-container">
      <a href="/dashboard" class="back-button">Назад в кабинет</a>
      <h2 class="page-title">
        Поддержка: где купить?
      </h2>
    </div>
    
    <div class="text-center">
      <div class="d2-3 l1">
        <div class="box box-content">
          <div class="gutter">
            <h2>Центры продаж и дилерские точки</h2>
            <h3></h3>
            <table class="common-table">
              <thead>
                <tr>
                  <th colspan="2" class="common-table-title">Алматы:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table1-2">
                    <ul>
                      <li>мкр. Орбита 2,д.6 (Навои д .6 уг. пр. Аль-Фараби)</li>
                      <li>ул. Толе би д.101 (уг. ул. Байтурсынова, бизнес-центр «Далич»)</li>
                      <li>ул. Кунаева, 105/115 (уг. ул. Богенбай батыра)</li>
                    </ul>
                  </td>
                  <td class="table1-2">
                    Будние дни 09:00 – 19:00 <br>
                    Суббота, Воскресенье 10:00 – 17:00
                  </td>
                </tr>
                <tr>
                  <td class="table1-2">
                    <ul><li>ТЦ “Esentai Mall”, пр. Аль-Фараби, 77/8, - 1 этаж</li></ul>
                  </td>
                  <td class="table1-2">
                    Ежедневно 10:00 - 22:00
                  </td>
                </tr>
                <tr>
                  <td class="table1-2">
                    <ul><li>ТРЦ "Globus", ул.Абая, 109, уг.ул.Ауезова, 2 этаж, бутик 38</li></ul>
                  </td>
                  <td class="table1-2">
                    Ежедневно 10:00 - 22:00
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="common-table">
              <thead>
                <tr>
                  <th colspan="2" class="common-table-title">Астана:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table1-2">
                    <ul><li>пр. Республики, 5</li></ul>
                  </td>
                  <td class="table1-2">
                    Будние дни 09:00 – 19:00 <br>
                    Суббота, Воскресенье 10:00 – 17:00
                  </td>
                </tr>
                <tr>
                  <td class="table1-2">
                    <ul><li>ТРЦ «Хан шатыр», пр.Туран, 37, нулевой этаж.</li></ul>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <h2>Дистрибьюторы</h2>
            <ul class="acc-list text-left js-acc-list">
              <li>
                <a href="#" class="acc-list-item">Алматы</a>
                <div class="acc-list-content">
                  <table class="common-table">
                    <thead>
                      <tr>
                        <th>Наименование дистрибьютора</th>
                        <th>Адреса магазинов</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="table1-2">
                          LogyCom
                        </td>
                        <td class="table1-2">
                          <ul>
                            <li>ул. Гоголя 77/85, уг. ул. Фурманова</li>
                            <li>пр.Абылай хана 74, уг. ул. Гоголя</li>
                            <li>пр. Достык, 71, уг. ул. Курмангазы</li>
                            <li>ул. Фурманова,11/220, уг.ул.Сатпаева</li>
                            <li>ул. Толе би 185, уг.ул Ауэзова</li>
                            <li>Джандосова Баизакова</li>
                            <li>мкр. Орбита 3 д.1 (ул.Фрунзе, уг.ул Мустафина)</li>
                            <li>пр.Райымбека 101</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
              <li>
                <a href="#" class="acc-list-item">Астана</a>
                <div class="acc-list-content">
                  <table class="common-table">
                    <thead>
                      <tr>
                        <th>Наименование дистрибьютора</th>
                        <th>Адреса магазинов</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="table1-2">
                          LogyCom
                        </td>
                        <td class="table1-2">
                          <ul>
                            <li>ул. Гоголя 77/85, уг. ул. Фурманова</li>
                            <li>пр.Абылай хана 74, уг. ул. Гоголя</li>
                            <li>пр. Достык, 71, уг. ул. Курмангазы</li>
                            <li>ул. Фурманова,11/220, уг.ул.Сатпаева</li>
                            <li>ул. Толе би 185, уг.ул Ауэзова</li>
                            <li>Джандосова Баизакова</li>
                            <li>мкр. Орбита 3 д.1 (ул.Фрунзе, уг.ул Мустафина)</li>
                            <li>пр.Райымбека 101</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section>
{% endblock %}